<div class="col-xs-1 col-xs-offset-1 text-center">
      <button id="fresh-credit-open" style="background-color: #424242 !important; color: white !important;" href="/apps/proxy/credit" class="btn btn-default btn-lg">store credit</button>
    </div>