<div class="jc-ref-box-section">
  <div class="jc-ref-box-content-wrapper">
    <div class="jc-ref-box-heading-wrapper">
      <h3 class="jc-ref-box-heading">This Program Won&#x27;t Work If</h3>
      <div class="jc-heading-hr-ref-box"></div>
    </div>
    <ul class="jc-ref-box-list">
      <li class="jc-ref-box-list-item">
        <div>The IP address is the same for both email accounts (this is built into the system to prevent fraudulent activity).  For instance, two people using the same computer would most likely prevent the code from working.</div>
      </li>
      <li class="jc-ref-box-list-item">
        <div>One user is using two different email addresses for the same person; this is not allowed as it is not a true referral.</div>
      </li>
      <li class="jc-ref-box-list-item">
        <div>If two users are on the same computer, cookies may be preventing redemption. Have one user try on a different device, like a smartphone.</div>
      </li>
      <li class="jc-ref-box-list-item">
        <div>Advocate and Referral Names were entered using the same name. A person cannot refer themself.</div>
      </li>
    </ul>
    <p class="jc-ref-box-bottom-text">Email us at <a href="mailto:contact@rrmeds.com" class="jc-ref-box-bottom-text-link">contact@rrmeds.com</a> with any questions!</p>
  </div>
</div>