<div class="wrapper-outter">
    <div class="guarentee-wrapper home">
        <div class="jc-risk-content-wrapper home">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-home_AST_30day_softgel_hands.jpg?v=1658166162" alt="60 Day Guarantee" class="jc-risk-free-img-big home">
        </div>

        <div class="jc-risk-content-wrapper text">
            <div class="guarentee-text-wrapper">
                <h1 class="jc-section-heading">60 Day</h1>
                <div class="guarentee-breaker"></div>
                <div class="guarentee-text-container">
                    <h3 class="guarentee-text-1">Money Back</h3>
                    <h3 class="guarentee-text-2">GUARANTEE</h3>
                </div>
            </div>
                <p class="paragraph-text">We stand behind the quality of our products, and we’re confident that you’ll have an excellent experience with them. Try our products consistently and at least once per day for a few weeks, and if your expectations aren’t met, you’re welcome to return them for a full refund within 60 Days of your purchase.</p>
                <img class="signature-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/signature.svg?v=1661450280">
               
        </div>
    </div>
</div>