<div class="jc-wrapper how-hemp-works">
  <div class="jc-hero-placement"></div>
  <div class="jc-hero-content-wrapper how-hemp-works">
    <div class="w-container">
      <h1 class="jc-main-heading-white">How Hemp Works In the Body</h1>
      
    </div>
  </div>
  {% comment %}<div class="jc-hero-location-text">Estes Park, CO</div>{% endcomment %}{% comment %}<img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/mountain-graphic-min.png?468" srcset="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/mountain-graphic-min-p-500.png?468 500w, https://cdn.shopify.com/s/files/1/0107/7431/5072/files/mountain-graphic-min.png?468 1600w" sizes="(max-width: 1600px) 100vw, 1600px" alt="" class="jc-hero-mountain-img">{% endcomment %}
</div>

{% schema %}
{
  "name": "Hero Section" ,
  "settings": [
      {
         "type": "text",
         "id": "button_text",
         "default": "Shop Holiday Deals",
         "label": "Button Text"
      },
      {
         "type": "url",
         "id": "button_url",
         "label": "Button Link"
      }
  ]
}
{% endschema %}