


<div class="jc-modal-softgels">
  <div class="jc-modal-content-outer-softgels">
    <div class="jc-modal-content-wrapper-softgels">
      <a href="#" class="jc-modal-close-btn-softgels">X</a>
      <div class="jc-modal-logo-img-wrapper-softgels"><img src="//cdn.shopify.com/s/files/1/0107/7431/5072/files/rr-logo-notag-min.png" alt="R&R Medicinals" class="jc-modal-logo-img-softgels"></div>
      <div class="jc-modal-img-wrapper-softgels"><img src="//cdn.shopify.com/s/files/1/0107/7431/5072/files/20off-graphic-min.png" loading="lazy" alt="20% Off Sale" class="jc-modal-img-alt-softgels"><img src="//cdn.shopify.com/s/files/1/0107/7431/5072/files/softgels-pop-up.jpg" loading="lazy" sizes="100vw" srcset="//cdn.shopify.com/s/files/1/0107/7431/5072/files/softgels-pop-up-p-500.jpeg 500w, //cdn.shopify.com/s/files/1/0107/7431/5072/files/softgels-pop-up-p-800.jpeg 800w, //cdn.shopify.com/s/files/1/0107/7431/5072/files/softgels-pop-up.jpg 1000w" alt="30mg Softgels" class="jc-modal-product-img-softgels"></div>
      <div class="jc-modal-heading-softgels"><strong>Softgels are Back!</strong></div>
      <p class="jc-modal-text-softgels">Our 15mg and 30mg Softgels are back in stock! <strong>Save 20%</strong> by entering entering code: <span class="jc-modal-text-softgels-alt"><strong>RRSG20</strong></span> at checkout.</p>
      <div class="jc-modal-btn-wrapper-softgels">
        <a href="/products/softgels" class="jc-modal-btn-softgels w-button">Shop Softgels</a>
      </div>
      <p class="jc-modal-bottom-text-softgels">Sale ends January 16th at 11:59 pm PST</p>
    </div>
  </div>
</div>