<div class="jc-modal-wrapper">
  <div class="jc-modal-content-outer jc-modal-content-outer-alt">
    <div class="jc-modal-content-wrapper jc-modal-content-wrapper-holiday">
      <a href="#" class="jc-modal-close-btn">X</a>

      <div class="jc-modal-form-block w-form">

        <div class="jc-modal-img-wrapper">
          <img src="//cdn.shopify.com/s/files/1/0107/7431/5072/files/RR_2020_V3_Pure_Black-min.png" alt="R&R Medicinals Logo" class="jc-modal-logo-img" />
        </div>
        <div class="jc-modal-heading jc-modal-heading-holiday">Holiday Deals</div>
        <p class="jc-modal-text jc-modal-text-holiday">Shop our best holiday offers this year including BOGO, discounts, and more!</p>
        <div class="jc-modal-btn-wrapper">
          <a href="https://www.rrmeds.com/pages/holiday" class="jc-modal-btn jc-modal-btn-holiday w-button">Shop Deals</a>
        </div>

      </div>
    </div>
  </div>
</div>