<div class="jc-section-bg-home">
  <div class="sk-container-large">
    <div class="jc-section-heading-wrapper">
      <h2 class="jc-section-heading">The R&R Difference</h2>
    </div>

    <div class="jc-section-bg-row w-row">

      <div class="jc-section-bg-col w-col w-col-4">
        <div class="jc-section-img-inner one">
          <img class="difference-img-icon" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-home_AST_R_R_Dif_hemp_icon.svg?v=1658166184">
        </div>

        <div class="jc-section-bg-col-inner-home">
          <h4 class="jc-section-bg-col-faded-heading">Quality Hemp</h4>
          <h4 class="jc-section-bg-col-heading">Organically grown, under the sun.</h4>
          <div class="rr-diffrence-width-container">
            <p class="jc-section-bg-col-text">We only use supercritical CO2 extracted Organic hemp with all of the cannabinoids, flavonoids, phytonutrients, terpenes, and other compounds that are naturally present in the hemp plant. 
              Every product is third-party tested to ensure our promises of potency, safety, and quality are met. Our outdoor grown hemp is USDA Certified Organic on independent family farms. </p>
          </div>
        </div>
      </div>

      <div class="jc-section-bg-col w-col w-col-4">
        <div class="jc-section-img-inner two">
          <img class="difference-img-icon" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-home_AST_R_R_Dif_price_tag_icon.svg?v=1658166184">
        </div>

        <div class="jc-section-bg-col-inner-home">
          <h4 class="jc-section-bg-col-faded-heading">Responsibly priced</h4>
          <h4 class="jc-section-bg-col-heading">Hemp should be accessible to everyone.</h4>
          <div class="rr-diffrence-width-container">
            <p class="jc-section-bg-col-text">As a veteran and employee-owned business, we focus on serving our customers - not a group of shareholders. 
              We don't believe there's any reason to gouge customers with ridiculously high pricing that you may have seen with other brands. We choose to work with local, 
              independent suppliers to reduce our costs, ensuring that we’re able to offer fair pricing on all of our products.</p>
          </div>  
        </div>
      </div>

      <div class="jc-section-bg-col w-col w-col-4">
        <div class="jc-section-img-inner three">
            <img class="difference-img-icon" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-home_AST_R_R_Dif_hand_heart.svg?v=1658166184">
        </div>

        <div class="jc-section-bg-col-inner-home">
          <h4 class="jc-section-bg-col-faded-heading">Customer Dedicated</h4>
          <h4 class="jc-section-bg-col-heading">Committed to<br> positive experiences.</h4>
          <div class="rr-diffrence-width-container">
            <p class="jc-section-bg-col-text">We proudly stand behind our industry unique, 60-Day Guarantee, so that anyone may put our products to the test without risk. 
              Our in-house customer care team is here to text, call, or email you anytime. We aim to treat each customer the same way we treat our own mothers! </p>
          </div>
        </div>
      </div>
      
    </div>


    




  </div>
  {% comment %}
  <div class="jc-section-location-text">Crested Butte, CO</div>
  {% endcomment %}
</div>