<div class="verification-modal">
    <div class="verification-modal-content-wrapper">
    	<div class="verification-modal-logo-wrapper"><img src="//cdn.shopify.com/s/files/1/0107/7431/5072/files/RR_2020_V3_Pure_Black-min.png" alt="R&R Medicinals Logo" class="verification-modal-logo-img"></div>
        <div class="verification-modal-heading">Age Verification</div>
        <p class="verification-modal-text verification-modal-text-margin">This website requires you to be 21 years or older to enter.</p>
        <p class="verification-modal-text"><strong>Click Below to Enter</strong></p>
        <div class="verification-modal-btn-wrapper">
        	<div class="verification-modal-flex-col"><a href="#" id="modal-enter" class="verification-modal-btn w-button">21+ ENTER</a></div>
        </div>
        <div class="verification-modal-bottom-text-wrapper">
        	<p class="verification-modal-bottom-text"><a href="https://www.google.com/">I'm under 21</a></p>
        </div>
    </div>
</div>


{% schema %}
{
  "name": "Verification Pop-Up"
}
{% endschema %}