{% comment %}
<div class="jc-referral-cta-section">
      <div class="w-container">
      	<div class="jc-newsletter-content-wrapper-referral-cta">
      		<div class="jc-newsletter-heading-wrapper">
      		  <h3 class="jc-section-heading jc-section-heading-referral-cta">Retail Referrals</h3>
      		  <div class="jc-section-heading-hr"></div>
      		  <div class="jc-section-heading-hr jc-section-heading-hr-bottom"></div>
      		</div>
      		<p class="jc-newsletter-content-text jc-referral-cta-text"><strong>Do you want to see R&R at your local grocer, wellness store, spa, gym, doctor’s office, or pet store? Send us the name of the business, a point of contact, and an email address or phone number, and we’ll send you a six month supply of your favorite product when the location places their first wholesale order. Please contact us at <a href="mailto:wholesale@rrmeds.com" class="jc-referral-cta-text-link">wholesale@rrmeds.com</a> or call/text us at <a href="tel:+13035361792" class="jc-referral-cta-text-link">(303) 536-1792</a> with the information!</strong></p>
      	</div>
      </div>
</div>
{% endcomment %}

<div class="jc-wholesale-referral-section">
  <div class="jc-container-large">
    <div class="jc-content-wrapper-wholesale-referral">
      <div class="jc-heading-wrapper-wholesale-referral">
        <h3 class="jc-section-heading jc-section-heading-shift">Retail Referrals</h3>
        <div class="jc-section-heading-hr-wholesale-referral"></div>
      </div>
      <p class="jc-wholesale-referral-text">Do you want to see R&R at your local grocer, wellness store, spa, gym, doctor’s office, or pet store? Send us the name of the business, a point of contact, and an email address or phone number, and we’ll send you a six month supply of your favorite product when the location places their first wholesale order.</p>
      <p class="jc-wholesale-referral-text">Please contact us at <a href="mailto:wholesale@rrmeds.com" class="jc-wholesale-referral-link dark">wholesale@rrmeds.com</a> or call/text us at<br class="jc-em-hide"> <strong>(303) 536-1792</strong> with the information!</p>
    </div><img src="//cdn.shopify.com/s/files/1/0107/7431/5072/files/retail-referral-min.jpeg" alt="POS System" class="jc-wholesale-referral-img"></div>
</div>