<div class="wrapper-outter mobile-only">
    <div class="guarentee-wrapper">
        <div class="jc-risk-content-wrapper full mobile-hidden">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-home_2_AST_cbd_that_works.jpg?v=1660073660" alt="60 Day Guarantee" class="jc-risk-free-img-big">
        </div>
  
        <div class="jc-risk-content-wrapper text mobile-full mobile-bg-image">
            <div class="mobile-bg-image-wrapper">
                <div class="guarentee-text-wrapper">
                    <h1 class="jc-section-heading">Quality CBD with a responsible pricetag.</h1>
                </div>
                <p class="paragraph-text">Helping others is built into our ethos, and we believe organic, high quality hemp should be accessible to everyone.</p>
            </div>
            <div class="jc-medium-btn-section left extra-margin"><a href="/collections/all-products" class="jc-medium-btn no-margin w-button">Shop CBD</a></div>
               
        </div>
    </div>
</div>

<div class="jc-sub-hero-section-home desktop">
    <div class="img-wrapper-outter home">
        <div class="text-wrapper-outter">
            <div class="text-wrapper">
                <h2 class="jc-section-heading left">Quality CBD with a responsible pricetag.</h2>
                <div class="text-width-wrapper">
                    <p class="paragraph-text large">Helping others is built into our ethos, and we believe organic, high quality hemp should be accessible to everyone.</p>
                </div>
                <div class="jc-medium-btn-section left extra-margin"><a href="/collections/all-products" class="jc-medium-btn no-margin w-button">Shop CBD</a></div>
            </div>
        </div>
    </div>
</div>