<div class="wrapper-outter mobile-only refferal">
    <div class="guarentee-wrapper refferal">
        <div class="jc-risk-content-wrapper referral full with-padding">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-referrals_2_AST_retail_refferal.jpg?v=1660064414" alt="" class="jc-risk-free-img-big referral">
        </div>
        <div class="jc-risk-content-wrapper referral text">
          <div class="guarentee-text-wrapper">
              <h1 class="jc-section-heading">Retail Referrals</h1>
          </div>
          <p class="paragraph-text">Do you want to see R&R at your local grocer, wellness store, spa, gym, doctor’s office, or pet store? Send us the name of the business, a point of contact, and an email address or phone number, and we’ll send you a six month supply of your favorite product when the location places their first wholesale order.
            <br>
            <br>
            Please contact us at <a class="jc-wholesale-referral-link dark" href="wholesale@rrmeds.com">wholesale@rrmeds.com</a> or call/text us at <strong>(303) 536-1792</strong> with the information!</p>
        </div>
    </div>
  </div>

<div class="jc-sub-hero-section-home referral">
    <div class="img-wrapper-outter referal">
        <div class="text-wrapper-outter">
            <div class="text-wrapper">
                <h1 class="jc-section-heading left">Retail Referrals</h1>
                <div class="text-width-container">
                    <p class="paragraph-text">Do you want to see R&R at your local grocer, wellness store, spa, gym, doctor’s office, or pet store? Send us the name of the business, a point of contact, and an email address or phone number, and we’ll send you a six month supply of your favorite product when the location places their first wholesale order.
                        <br>
                        <br>
                        Please contact us at <a class="jc-wholesale-referral-link dark" href="wholesale@rrmeds.com">wholesale@rrmeds.com</a> or call/text us at <strong>(303) 536-1792</strong> with the information!</p>
                </div>
                        

            </div>
        </div>
    </div>
</div>