<div class="jc-sub-hero-section-home-center grey">
    <div class="img-wrapper-outter-white">
        <div class="text-wrapper-center">
            <h1 class="jc-section-heading">Relaxation, relief, recovery, and
                rejuvenation await.</h1>
            <div class="jc-large-btn-section xl"><a href="/collections/all-products" class="jc-large-btn wide w-button">Get R&R</a></div>

        </div>
    </div>
</div>