<div class="jc-sub-hero-section-home">
    <div class="img-wrapper-outter-2">
        <div class="text-wrapper-double">
            <img class="double-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-home_AST_Certifications_USDA_Organinc_Icon.svg?v=1658166184">
            <h3 class="jc-section-heading white">USDA Certified </br> Organic Hemp</h3>
            <p class="paragraph-text white">R&R pioneered the hemp industry as one of the first brands to earn the USDA Organic Certification in 2019, 
                and we infuse our proprietary Organic extracts in all of our products. Our own mothers use our products, so quality is paramount!</p>
      

        </div>

        <div class="text-wrapper-double">
            <img class="double-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-home_AST_Certifications_Us_Hemp_Auth_Icon.svg?v=1658166184">
            <h3 class="jc-section-heading white">US Hemp Authority</h3>
            <p class="paragraph-text white">R&R is proud to be among the most trusted industry leaders that have attained US Hemp Authority Certification on many of our products. This means that everything from our farm and extraction through 
                labeling and distribution has been rigorously inspected and certified for safety, authenticity, and legitimacy.</p>
            

        </div>
    </div>
</div>