<div class="jc-sub-hero-section-home-cbd">
    <div class="img-wrapper-outter-single">
        <a class="banner-link-wrapper" href="/pages/glossary">
            <div class="text-wrapper-single">
                
                <h1 class="jc-section-heading-cbd white">View Our<br> CBD Glossary</h1>
                
        

            </div>
        </a>
    </div>
</div>