<div class="vertical-section grey wf-section">
    <div class="vertical-section-inner">
      
        <h2 class="jc-main-heading medium center">No Commitment</h2>
      <div class="paragraph-container-width-large">
        <p class="paragraph-center"> You can swap out products, skip an order, or cancel your Subscribe & Save subscription at any time by accessing the "Manage Subscription" page <a href="https://www.rrmeds.com/tools/checkout/api/manage/subscription/app" class="jc-faq-expand-text-link">here</a>. If you don’t have an rrmeds.com account, please reach out to us at <a href="mailto:contact@rrmeds.com" class="jc-faq-expand-text-link">contact@rrmeds.com</a> to adjust your shipment. You will receive a notification three days prior to your shipment being processed, reminding you that you will soon be receiving your order.</p>
      </div>
      <div class="jc-medium-btn-section"><a href="/collections/all-products" class="jc-medium-btn w-button">Get R&R</a></div>
    </div>
  </div>