<div class="full-width-banner-wrapper">
    <div class="full-banner-inner">
        <h3 class="banner-text mobile-hide">FEATURED IN</h3>

        <div class="mobile-gif-wrapper">
            <img class="mobile-gif" src="//cdn.shopify.com/s/files/1/0107/7431/5072/files/Home-Featured-In-GIF-MOB_1.gif">
        </div>
        <div class="logo-wrapper-as-seen">
            <div class="logo-inner-wrapper">
                <img class="as-seen-logo" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/healthline.svg?v=1661445774">
            </div>
            <div class="logo-inner-wrapper">
                <img class="as-seen-logo" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/LA.svg?v=1661445773">
            </div>
            <div class="logo-inner-wrapper">
                <img class="as-seen-logo" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/shape.svg?v=1661445773">
            </div>
            <div class="logo-inner-wrapper">
                <img class="as-seen-logo" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/forbes.svg?v=1661445773">
            </div>
            <div class="logo-inner-wrapper">
                <img class="as-seen-logo" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pop_sc.svg?v=1661445773">
            </div>
            <div class="logo-inner-wrapper">
                <img class="as-seen-logo" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/yahoo.svg?v=1661445774">
            </div>
            <div class="logo-inner-wrapper">
                <img class="as-seen-logo" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/discover.svg?v=1661445773">
            </div>
            <div class="logo-inner-wrapper">
                <img class="as-seen-logo" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/health.svg?v=1661445773">
            </div>
        </div>
    </div>
</div>