p {
  margin-bottom: 0px;
}

.nav-expand-overlay-bg {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
}

.fixed-top-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  background-color: transparent;
}

.announce-wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 10px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #004943;
}

.announce-rte {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-container {
  width: 100%;
  max-width: 1170px;
  margin: 0px 20px;
  padding: 0px;
}

.nav-flex-col-outer-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-flex-row-outer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.nav-flex-row-outer.alt {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-flex-col-outer-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.nav-dropdown-show-mobile {
  display: none;
  margin: 0px;
  padding: 0px;
}

.nav-meta-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  padding-bottom: 7px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-dropdown-menu.w--open {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #0b022b;
}

.nav-brand-img {
  width: 130px;
  margin-bottom: 10px;
}

.nav-brand-img.nav-brand-img-scrolling {
  width: 90px;
}

.nav-brand-img.alt {
  width: 90px;
}

.nav-brand-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-dropdown-link {
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
}

.nav-dropdown-link:hover {
  color: #ff8374;
}

.nav-dropdown-link.w--current {
  color: #ff8374;
}

.nav-dropdown-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 37px 20px 35px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: padding 250ms ease;
  transition: padding 250ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 2px;
}

.nav-dropdown-toggle.w--open {
  position: relative;
}

.nav-dropdown-img {
  width: 12px;
  margin-bottom: 2px;
  margin-left: 5px;
}

.nav-meta-link {
  margin-left: 20px;
}

.nav-meta-img {
  width: 30px;
}

.fixed-nav-wrapper {
  position: relative;
  z-index: 1;
  display: block;
  height: 120px;
  padding-top: 10px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -webkit-transition: box-shadow 250ms ease, background-color 250ms ease;
  transition: box-shadow 250ms ease, background-color 250ms ease;
}

.fixed-nav-wrapper.fixed-nav-wrapper-scrolling {
  height: 80px;
  padding-top: 10px;
}

.fixed-nav-wrapper.alt {
  height: 80px;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu.mobile {
  display: none;
}

.nav-menu.desktop {
  padding-top: 0px;
  padding-bottom: 0px;
}

.fixed-nav-overlay-bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: #0b022b;
  opacity: 0;
}

.nav-expand-sub-heading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ff8374;
}

.nav-expand-flex-col-outer {
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 33%;
  -ms-flex: 0 33%;
  flex: 0 33%;
}

.nav-expand-flex-row-outer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1170px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.nav-expand-col-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
  padding: 40px 0px 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 30%;
  -ms-flex: 0 30%;
  flex: 0 30%;
  background-color: #fff;
}

.nav-expand-wrapper {
  position: relative;
  z-index: 1;
  display: none;
  box-shadow: inset 0 1px 6px 0 #000;
}

.nav-expand-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.nav-expand-img-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.nav-expand-flex-col-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.jc-section-bg-col-faded-heading {
  margin-bottom: 15px;
  color: #2aa06b;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-expand-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.nav-expand-img.short {
  height: 60%;
}

.nav-expand-col-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 20px 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 75%;
  -ms-flex: 0 75%;
  flex: 0 75%;
  background-color: #fff;
}

.nav-expand-sub-heading {
  margin-right: 5px;
  margin-bottom: 15px;
  padding-top: 0px;
  color: #333;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  text-align: right;
  letter-spacing: 4px;
  text-transform: none;
}

.nav-expand-img-wrapper {
  width: 250px;
  height: 350px;
  padding-right: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.nav-expand-col-left-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.nav-expand-overlay-link {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #0b022b;
  opacity: 0;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.nav-expand-overlay-link:hover {
  opacity: 0.2;
}

.nav-expand-content-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 55%;
  -ms-flex: 0 55%;
  flex: 0 55%;
}

.social-icons-wrapper {
  margin-right: 20px;
}

.image {
  width: 15px;
  height: 15px;
}

.nav-icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

.link {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
}

.announcement-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1170px;
}

.jc-nav-overlay-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #004943;
  font-size: 20px;
  font-weight: 700;
}

.jc-nav-overlay-link._w-inline-block {
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.body {
  background-color: #fff;
  font-family: filson-pro, sans-serif;
}

.bottom-nav-link {
  height: 40%;
  padding-left: 10px;
  background-color: #f28f79;
}

.nav-heading-menu {
  margin-top: 0px;
  color: #fff;
  font-size: 30px;
}

.nav-heading-menu-orange {
  color: #fff;
}

.orange-text-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.arrow-nav {
  width: 50px;
  margin-left: 10px;
}

.nav-link-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-bottom: 2px solid #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #333;
  font-size: 20px;
  text-decoration: none;
}

.nav-link-menu:hover {
  border-style: none none solid;
  border-width: 2px;
  border-color: #82c49d;
}

.nav-link-menu-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section {
  width: auto;
  height: 500vh;
}

.nav-link-container {
  position: relative;
  height: 100%;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.link-hover-line {
  position: absolute;
  left: 20px;
  top: 58px;
  right: 0%;
  bottom: 0%;
  width: 40px;
  height: 7px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #82c49d;
}

.link-hover-line._1 {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 6px;
  background-color: rgba(0, 73, 67, 0.3);
}

.link-hover-line.container {
  position: relative;
  top: -30px;
  overflow: hidden;
  background-color: transparent;
}

.sk-hero-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 913px;
  margin-top: 99px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sk-hero-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 691px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.jc-section-heading {
  color: #004943;
}

.jc-section-heading.left {
  font-family: freight-display-pro, sans-serif;
  text-align: left;
}

.sk-hero-img-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-cbd-101-AST_Hero_flatlay.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-and-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fbfaf6;
}

.image-and-text.white {
  background-color: transparent;
}

.wrapper-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-and-text-right {
  width: 50%;
}

.image-and-text-left {
  width: 50%;
}

.image-and-text-heading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.square {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  background-color: #82c49d;
}

.square.orange {
  background-color: #f28f79;
}

.image-and-text-img-right {
  position: relative;
  right: -140px;
}

.image-and-text-img-left {
  position: relative;
  left: -140px;
}

.italic-bold-text {
  margin-top: 10px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

.col-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.vertical-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.vertical-section.smoke {
  background-color: #fbfaf6;
}

.col-25 {
  width: 25%;
  padding-right: 20px;
  padding-left: 20px;
}

.benifits-heading {
  color: #004943;
  text-align: center;
}

.heading-container {
  margin-bottom: 20px;
}

.sk-img-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 10%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-our-hemp-AST_hero.jpg');
  background-position: 100% 50%;
  background-size: cover;
}

.sk-wrapper {
  height: 700px;
  padding-bottom: 0px;
}

.our-hemp-logo {
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

.jc-col-heading-works {
  font-family: freight-display-pro, sans-serif;
  color: #004943;
}

.our-hemp-img-1 {
  margin-right: 40px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-center {
  text-align: center;
}

.quality-logos {
  width: 300px;
}

.sk-img-wrapper-2 {
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-our-hemp-AST_hemp-fade.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-2 {
  width: 300px;
  height: 200px;
  margin-top: 140px;
  margin-bottom: 140px;
  border-style: none none solid;
  border-width: 1px 1px 5px;
  border-color: #000 #000 #79b491;
  border-radius: 0px;
}

.product-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 259px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.single-product-img-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tabs-menu-rr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.single-product-thumbnail-img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0px;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgba(0, 9, 33, 0.5);
  border-radius: 0%;
  background-color: transparent;
}

.single-product-thumbnail-img.w--current {
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #248fbd;
  border-radius: 0%;
  background-color: transparent;
}

.product-small-img {
  width: 100px;
  height: 100px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  border-style: none;
  border-width: 1.5px;
  border-color: #1d3054;
  border-radius: 0%;
  background-image: url('https://cdn.shopify.com/s/files/1/0107/7431/5072/files/rayban-rx5382-blueonhavannared-min.jpg');
  background-position: 50% 50%;
  background-size: 90%;
  background-repeat: no-repeat;
}

.tabs-content-rr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin-right: 20px;
}

.tab-content-wrapper {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.main-product-img-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.single-product-main-img {
  width: 100%;
  min-width: 395px;
}

.leaving-site-background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.73);
}

.leaving-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -o-object-fit: fill;
  object-fit: fill;
}

.leaving-left {
  width: 40%;
  height: 100%;
  min-height: 600px;
  background-image: url('https://cdn.shopify.com/s/files/1/0107/7431/5072/files/SM-photo-20.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.leaving-right {
  width: 60%;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 60px;
  padding-left: 60px;
}

.leaving-logo {
  width: 120px;
  margin-bottom: 40px;
}

.leaving-button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.leaving-close {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 30px;
  margin-right: 30px;
}

.close-img {
  width: 17px;
  margin: 10px;
}

.arrow-gif-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.leaving-button {
  border-style: solid;
  border-width: 1.5px;
  border-color: #341b98;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0);
  color: #341b98;
  text-align: center;
}

.welcome-hero-wrapper {
  height: 100vh;
  padding-top: 130px;
  padding-bottom: 0px;
}

.welcome-hero-wrapper.welcome {
  height: 100vh;
  padding-top: 131px;
  padding-bottom: 0px;
}

.welcome-img-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('https://cdn.shopify.com/s/files/1/0107/7431/5072/files/635851251f58e73cad5fd7ae_Photo_desktop.jpg?v=1666825095');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-header {
  margin-bottom: 30px;
  font-family: freight-display-pro, sans-serif;
  color: #fbfaf6;
  font-size: 50px;
  letter-spacing: 1px;
}

.welcome-hero-content-wrapper {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.green-welcome-btn {
  width: 340px;
  padding-top: 17px !important;
  padding-bottom: 17px !important;
  border-radius: 2px !important;
  background-color: #004943 !important;
  line-height: 22px !important;
  font-weight: 400;
  letter-spacing: 4px;
}

.campaign-flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f3ef;
}

.campaign-img-wrapper {
  height: 100%;
  background-image: url('https://cdn.shopify.com/s/files/1/0107/7431/5072/files/635857dd01703b5d6942b617_Photo_desktop.jpg?v=1666823967');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -1px;
}

.campaign-hero-content-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.campaign-header {
  font-family: freight-display-pro, sans-serif;
  color: #004943;
  font-size: 50px;
  line-height: 56px;
}

.green-campaign-btn {
  width: 270px;
  margin-top: 40px;
  padding-top: 19px !important;
  padding-bottom: 19px !important;
  border-radius: 2px !important;
  background-color: #004943 !important;
  font-size: 17px;
  line-height: 22px !important;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
}

.campaign-hero-p {
  font-size: 18px;
  line-height: 24px;
}

.campagin-hero-content-wrapper {
  width: 550px;
  margin-left: 5vw;
}

.campaign-grid {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 93px auto;
  grid-template-rows: 93px auto;
  background-color: #f4f3ef;
}

.campaign-clock-wrapper {
  background-color: #c0b8a3;
}

.html-clock-embed {
  width: 460px;
  margin-right: auto;
  margin-left: auto;
}

.bolder-text-welcome {
  font-weight: 500;
  letter-spacing: 2px;
  
}
.social-icons-wrapper img{
  background-color: transparent;
}
/*
html.w-mod-js *[data-ix="fadeinup"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}

html.w-mod-js *[data-ix="fadeinright"] {
  opacity: 0;
  -webkit-transform: translate(-20px, 0px);
  -ms-transform: translate(-20px, 0px);
  transform: translate(-20px, 0px);
}
*/
@media screen and (max-width: 991px) {
  .nav-container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .menu-btn {
    color: #004943;
  }

  .menu-btn.w--open {
    position: relative;
    left: auto;
    z-index: 999999;
    background-color: transparent;
  }

  .nav-flex-row-outer {
    position: static;
  }

  .nav-dropdown-show-mobile {
    display: block;
  }

  .nav-meta-wrapper {
    padding-bottom: 0px;
  }

  .nav-dropdown-menu.w--open {
    padding-top: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    background-color: #fff;
  }

  .nav-brand-img.alt {
    width: 70px;
    padding-top: 9px;
  }
  .nav-brand-img.alt.welcome {
    width: 70px;
    padding-top: 0px;
  }
  .fixed-nav-wrapper.welcome{
    padding-top: 10px;
  }

  .nav-dropdown-toggle {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .fixed-nav-wrapper.alt {
    height: 62px;
  }

  .nav-menu {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #0b022b;
  }

  .nav-menu.mobile {
    background-color: #fff;
  }

  .nav-menu.desktop {
    background-color: #004943;
  }

  .fixed-nav-overlay-bg {
    display: none;
  }

  .nav-link-menu-wrapper.mobile {
    padding-left: 20px;
    border-bottom: 1px solid #004943;
  }

  .icon {
    position: relative;
    z-index: auto;
  }

  .sk-hero-wrapper {
    height: 600px;
  }

  .image-and-text-img-right {
    right: -85px;
  }

  .image-and-text-img-left {
    left: -85px;
  }

  .vertical-section {
    padding-right: 40px;
    padding-left: 40px;
  }

  .sk-wrapper {
    height: 500px;
  }

  .welcome-hero-wrapper {
    padding-top: 105px;
  }

  .campagin-hero-content-wrapper {
    width: 300px;
    margin-left: 7vw;
  }
  .fixed-nav-wrapper.alt{
    padding-top: 0px;
    display: flex;
  }
  .welcome-hero-wrapper.welcome{
    padding-top: 106px;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu.mobile {
    background-color: #fff;
  }

  .nav-menu.desktop {
    background-color: #004943;
  }

  .sk-hero-wrapper {
    height: 400px;
  }

  .jc-section-heading.center {
    text-align: center;
  }

  .sk-hero-img-wrapper {
    background-position: 0% 50%;
  }

  .wrapper-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .wrapper-inner.alt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-and-text-right {
    width: 80%;
  }

  .image-and-text-left {
    width: 80%;
  }

  .image-and-text-heading-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .image-and-text-img-right {
    right: 0px;
  }

  .image-and-text-img-left {
    left: 0px;
  }

  .italic-bold-text.left {
    text-align: left;
  }

  .col-25 {
    height: auto;
    min-height: 227px;
  }

  .logo-wrapper {
    text-align: center;
  }

  .jc-col-heading-works {
    text-align: center;
  }

  .our-hemp-img-1 {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .paragraph {
    text-align: center;
  }

  .paragraph-2 {
    text-align: left;
  }

  .campaign-img-wrapper {
    height: 20em;
    background-image: url('https://cdn.shopify.com/s/files/1/0107/7431/5072/files/635857dd01703b5d6942b617_Photo_desktop.jpg?v=1666823967');
    background-position: 50% 35%;
  }

  .campaign-hero-content-col {
    padding: 30px;
/*     height: 60vh; */
    height: 100vh;
  }

  .campaign-header {
/*     display: none; */
    font-size: 35px;
  }

  .green-campaign-btn {
    width: 230px;
  }

  .campagin-hero-content-wrapper {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .campaign-grid {
    height: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .announce-rte {
    width: 100%;
  }
  .welcome-hero-wrapper.welcome {
    padding-top: 92px;
}
  .nav-meta-wrapper {
    display: none;
  }
  .welcome-header {
    font-size: 42px;
    line-height: 52px;
  }
  .nav-dropdown-menu {
    position: relative;
  }

  .nav-dropdown-menu.w--open {
    border-bottom-style: none;
    border-bottom-color: #004943;
    background-color: #fff;
  }

  .nav-brand-img {
    width: 50px;
  }

  .nav-brand-img.alt {
    width: 57px;
    padding-top: 0px;
  }
  .nav-brand-img.alt.welcome {
    width: 60px;
    padding-top: 4px;
  }
  .nav-dropdown-link {
    color: #333;
  }

  .nav-dropdown-link:hover {
    color: #004943;
  }

  .nav-dropdown-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .nav-meta-img {
    width: 22px;
  }

  .fixed-nav-wrapper.alt {
    height: 50px;
    padding-top: 0px;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu.mobile {
    display: block;
    background-color: #fff;
  }

  .nav-menu.desktop {
    background-color: #004943;
  }

  .nav-icon-wrapper {
    display: none;
  }

  .jc-nav-overlay-link {
    display: block;
  }

  .nav-link-menu-wrapper.mobile {
    padding-left: 20px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  .icon {
    color: #004943;
  }

  .sk-hero-wrapper {
    height: 200px;
    margin-top: 166px;
  }

  .image-and-text-right {
    width: 100%;
  }

  .image-and-text-left {
    width: 100%;
  }

  .col-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .vertical-section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .col-25 {
    width: 50%;
  }

  .sk-wrapper {
    height: 500px;
  }

  .welcome-hero-wrapper {
    height: 100vh;
    padding-top: 92px;
  }
  .welcome-hero-wrapper.campaign{
    padding-top: 82px;
  }
  .welcome-img-wrapper {
    background-image: url('https://cdn.shopify.com/s/files/1/0107/7431/5072/files/6358512501703b7b6f42498c_Photo_mobile.jpg?v=1666825154');
  }

  .welcome-hero-content-wrapper {
    width: 290px;
  }

  .green-welcome-btn {
    width: 275px;
  }

  .campaign-img-wrapper {
    background-image: url('https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Photo_mobile.jpg?v=1666992446');
    background-position: 50% 50%;
    background-size: cover;
  }

  .campaign-hero-content-col {
    padding: 45px 0px;
  }

  .green-campaign-btn {
    width: 230px;
    margin-top: 30px;
  }

  .campagin-hero-content-wrapper {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .html-clock-embed {
    width: auto;
    padding: 5px 0px;
  }
  .campaign-hero-p {
    font-size: 20px;
    line-height: 26px;
  }
  .fixed-nav-wrapper.alt.welcome {
    height: 60px;
    padding-top: 0px;
  }
}


#w-node-_52d614fe-dc7a-1788-3d03-f6743c5574dd-0ea60585 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_52d614fe-dc7a-1788-3d03-f6743c5574dd-0ea60585 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d3254290-5c53-fa3b-6cf9-bfbf3183d942-0ea60585 {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
}

