<!-- /templates/404.liquid -->
<div class="jc-404-page-wrapper">
  <div class="jc-404-container">
	<header class="section-header section-header--404 text-center">
	  <h1 class="jc-section-heading">{{ 'general.404.title' | t }}</h1>
	  <hr class="hr--small">
	  <p class="jc-404-text">{{ 'general.404.subtext_html' | t }}</p>
	</header>
  </div>
</div>
