
<div class="jc-hero-wrapper-stories">
  <div class="jc-hero-content-wrapper-stories">
    <h1 class="jc-hero-heading-stories">Your Stories Are Our Success</h1>
    <p class="jc-hero-text-stories">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
  </div>
  <div class="jc-section-location-text">Breckenridge, CO</div>
</div>
{% section 'jc-tabs' %}
{% section 'jc-newsletter' %}