<div class="rte jc-page-content-rte">
        {{ page.content }}
</div>



<div class="jc-hero-bottom-wrapper-referrals">
        <div class="jc-hero-bottom-container-referrals">
          <h2 class="jc-main-heading medium center">How It Works</h2>
          <div class="jc-hero-list-wrapper-referrals">
            <div class="jc-hero-list-item-referrals">
                <img class="number-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-referrals_AST_1.svg?v=1658771884">
              <p class="jc-content-text-works">Input your name and email address above, then click &quot;Submit&quot;.</p>
            </div>
            <div class="jc-hero-list-item-referrals">
                <img class="number-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-referrals_AST_2.svg?v=1658771884">
              <p class="jc-content-text-works">Click &quot;Send Via Email&quot;, and input the email address of the person you'd like to refer. Enter a personal message, if you'd like to, then click &quot;Send Email&quot;.</p>
            </div>
            <div class="jc-hero-list-item-referrals">
                <img class="number-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-referrals_AST_3.svg?v=1658771884">
              <p class="jc-content-text-works">Once the person you refer purchases any R&R product with their unique referral code, you'll automatically receive an email with a code for 30% off your next purchase.</p>
            </div>
            <div class="jc-hero-list-item-referrals">
                <img class="number-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-referrals_AST_4_1.svg?v=1658788324">
              <p class="jc-content-text-works">Our referral program is unlimited! Refer as many new customers as you’d like and get a 30% off code with every new referral that places an order.</a></p>
            </div>
            <div class="jc-disclaimer-text-works-wrapper">
            <p class="jc-disclaimer-text-works vet"><strong>**If you or your referral have not received an email with the discount code/link, please check your spam/junk folder.**</strong></p>
 			<div>
            <p class="jc-disclaimer-text-works vet"><em>Coupons, discounts, rewards redemptions, and auto ship offers cannot be combined.</em></p>
                        </div>
          </div>	        
          </div>
        </div>
  </div>






  <div class="wrapper-outter mobile-only">
    <div class="guarentee-wrapper referral">
        <div class="jc-risk-content-wrapper full with-padding refferal">
            <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-referrals_AST_hemp_plant.jpg?v=1658784317" alt="" class="jc-risk-free-img-big referral">
        </div>
        <div class="jc-risk-content-wrapper text referrals">
          <div class="guarentee-text-wrapper">
              <h1 class="jc-section-heading">This program won't work if:</h1>
          </div>
          <div class="bullet-container">
            <div class="green-dot-wrapper">
              <div class="green-dot"></div>
            </div>
              <p class="paragraph-text">The IP address is the same for both email accounts (this is built into the system to prevent fraudulent activity).  For instance, two people using the same computer would most likely prevent the code from working.</p>
        </div>

            <div class="bullet-container">
                    <div class="green-dot-wrapper">
                    <div class="green-dot "></div>
            </div>
                        <p class="paragraph-text">One user is using two different email addresses for the same person; this is not allowed as it is not a true referral.</p>
                    
              </div>

              <div class="bullet-container">
                    <div class="green-dot-wrapper">
                    <div class="green-dot"></div>
            </div>
                        <p class="paragraph-text">If two users are on the same computer, cookies may be preventing redemption. Have one user try on a different device, like a smartphone.</p>
                    
              </div>

              <div class="bullet-container">
                    <div class="green-dot-wrapper">
                    <div class="green-dot"></div>
            </div>
                        <p class="paragraph-text">Advocate and Referral Names were entered using the same name. A person cannot refer themself.</p>
                    
              </div>
              <div class="email-to-wrapper">
                <p class="paragraph-text">Email us at <a class="paragraph-link" href = "mailto: emailTo:contact@rrmeds.com">contact@rrmeds.com</a> with any questions!</p>
              </div>
          </div>
    </div>
  </div>








      <div class="image-and-text white wf-section refferal">
        <div class="wrapper-inner alt row">

          <div class="image-and-text-right">
            <div class="our-hemp-img-1 referral"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-referrals_AST_hemp_plant.jpg?v=1658784317" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-referrals_AST_hemp_plant.jpg?v=1658784317 500w" sizes="(max-width: 479px) 83vw, (max-width: 767px) 72vw, 42vw" alt=""></div>
          </div>


          <div class="image-and-text-left padding-left">
            
            <h2 class="jc-col-heading-works">This program won't work if:</h2>
            <div class="bullet-container">
                <div class="green-dot-wrapper">
                  <div class="green-dot"></div>
                </div>
                  <p class="paragraph-text">The IP address is the same for both email accounts (this is built into the system to prevent fraudulent activity).  For instance, two people using the same computer would most likely prevent the code from working.</p>
            </div>

                <div class="bullet-container">
                        <div class="green-dot-wrapper">
                        <div class="green-dot "></div>
                </div>
                            <p class="paragraph-text">One user is using two different email addresses for the same person; this is not allowed as it is not a true referral.</p>
                        
                  </div>

                  <div class="bullet-container">
                        <div class="green-dot-wrapper">
                        <div class="green-dot"></div>
                </div>
                            <p class="paragraph-text">If two users are on the same computer, cookies may be preventing redemption. Have one user try on a different device, like a smartphone.</p>
                        
                  </div>

                  <div class="bullet-container">
                        <div class="green-dot-wrapper">
                        <div class="green-dot"></div>
                </div>
                            <p class="paragraph-text">Advocate and Referral Names were entered using the same name. A person cannot refer themself.</p>
                        
                  </div>
          </div>
        </div>
        <div class="email-to-wrapper">
                <p class="paragraph-text">Email us at <a class="paragraph-link" href = "mailto: emailTo:contact@rrmeds.com">contact@rrmeds.com</a> with any questions!</p>
        </div>
      </div>

      {% section 'sk-banner-with-text-section-referal' %}
      
