 <div class="jc-meta-page-wrapper">
      <div class="w-container">
        <h1 class="jc-section-heading">Connect with Us!</h1>
        <h2 class="jc-sub-heading-sign-up">Save 20%</h2>
        <div class="jc-content-wrapper-sign-up">
          <p>Sign up to receive the latest R&R updates, promotions, new product releases, CBD resources, and receive a 20% off discount code via text.</p>
        </div>
        <div>
        	<div class="klaviyo-form-QQYym5"></div>
        </div>
      </div>
</div>