{% section 'jc-careers-hero-section' %}
<div class="mid-wrapper-careers">
  <div class="mid-container-careers">

    {% section 'jc-careers-content-section-1' %}

    <div class="tabs-wrapper-careers">
      <div data-duration-in="300" data-duration-out="100" class="tabs-careers w-tabs">
        <div class="tabs-menu-careers w-tab-menu">
          <a data-w-tab="Tab 1" class="tab-menu-link-careers w-inline-block w-tab-link">
            <div>Marketing</div>
          </a>
          <a data-w-tab="Tab 2" class="tab-menu-link-careers w-inline-block w-tab-link w--current">
            <div>Sales</div>
          </a>
          <a data-w-tab="Tab 3" class="tab-menu-link-careers w-inline-block w-tab-link">
            <div>Operations</div>
          </a>
          <a data-w-tab="Tab 4" class="tab-menu-link-careers w-inline-block w-tab-link">
            <div>Client Service</div>
          </a>
        </div>
        <div class="tabs-content-careers w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane">

            {% section 'jc-careers-positions-1' %}

          </div>

          <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">

            {% section 'jc-careers-positions-2' %}

          </div>
          <div data-w-tab="Tab 3" class="w-tab-pane">

            {% section 'jc-careers-positions-3' %}

          </div>
          <div data-w-tab="Tab 4" class="w-tab-pane">

            {% section 'jc-careers-positions-4' %}

          </div>

        </div>
      </div>

    </div>

    {% section 'jc-careers-content-section-2' %}

   

  </div>

</div>





