

{% section 'jc-hero-section-glossary' %}

{% section 'jc-glossary-top-section' %}

<div class="page-wrapper-glossary">
  <div class="page-container-glossary">

    

    <div class="mid-wrapper-glossary">
      <h3 class="mid-section-heading-glossary">This list is in alphabetical order.</h3>
      <div class="flex-row-wrapper-glossary">
        <div class="flex-row-glossary">
          
          <a href="#glossary-B" class="flex-link-glossary w-inline-block">
            <div>B</div>
          </a>
          <a href="#glossary-C" class="flex-link-glossary w-inline-block">
            <div>C</div>
          </a>
          <a href="#glossary-E" class="flex-link-glossary w-inline-block">
            <div>E</div>
          </a>
          <a href="#glossary-F" class="flex-link-glossary w-inline-block">
            <div>F</div>
          </a>
          <a href="#glossary-H" class="flex-link-glossary w-inline-block">
            <div>H</div>
          </a>
          <a href="#glossary-I" class="flex-link-glossary w-inline-block">
            <div>I</div>
          </a>
          <a href="#glossary-L" class="flex-link-glossary w-inline-block">
            <div>L</div>
          </a>
          <a href="#glossary-M" class="flex-link-glossary w-inline-block">
            <div>M</div>
          </a>
          <a href="#glossary-P" class="flex-link-glossary w-inline-block">
            <div>P</div>
          </a>
          <a href="#glossary-S" class="flex-link-glossary w-inline-block">
            <div>S</div>
          </a>
          <a href="#glossary-T" class="flex-link-glossary w-inline-block">
            <div>T</div>
          </a>
          <a href="#glossary-U" class="flex-link-glossary w-inline-block">
            <div>U</div>
          </a>
          <a href="#glossary-W" class="flex-link-glossary w-inline-block">
            <div>W</div>
          </a>
        </div>
      </div>
      <div class="mid-content-wrapper-glossary">
        <div id="glossary-B" class="content-block-glossary">

          {% section 'jc-glossary-b' %}

        </div>

        <div id="glossary-C" class="content-block-glossary">

         {% section 'jc-glossary-c' %}

        </div>

        <div id="glossary-E" class="content-block-glossary">

        {% section 'jc-glossary-e' %}

        </div>

        <div id="glossary-F" class="content-block-glossary">

          {% section 'jc-glossary-f' %}

        </div>

        <div id="glossary-H" class="content-block-glossary">

          {% section 'jc-glossary-h' %}
         
        </div>

        <div id="glossary-I" class="content-block-glossary">

          {% section 'jc-glossary-i' %}
          
        </div>

        <div id="glossary-L" class="content-block-glossary">

          {% section 'jc-glossary-l' %}
          
        </div>
        <div id="glossary-M" class="content-block-glossary">

          {% section 'jc-glossary-m' %}
          
        </div>
        <div id="glossary-P" class="content-block-glossary">

          {% section 'jc-glossary-p' %}
          
        </div>
        <div id="glossary-S" class="content-block-glossary">

          {% section 'jc-glossary-s' %}
         
        </div>
        <div id="glossary-T" class="content-block-glossary">

          {% section 'jc-glossary-t' %}
          
        </div>
        <div id="glossary-U" class="content-block-glossary">

          {% section 'jc-glossary-u' %}

        </div>

        <div id="glossary-W" class="content-block-glossary">

          {% section 'jc-glossary-w' %}
          
        </div>

        <div class="flex-row-wrapper-glossary">
          <div class="flex-row-glossary">
            
            <a href="#glossary-B" class="flex-link-glossary w-inline-block">
              <div>B</div>
            </a>
            <a href="#glossary-C" class="flex-link-glossary w-inline-block">
              <div>C</div>
            </a>
            <a href="#glossary-E" class="flex-link-glossary w-inline-block">
              <div>E</div>
            </a>
            <a href="#glossary-F" class="flex-link-glossary w-inline-block">
              <div>F</div>
            </a>
            <a href="#glossary-H" class="flex-link-glossary w-inline-block">
              <div>H</div>
            </a>
            <a href="#glossary-I" class="flex-link-glossary w-inline-block">
              <div>I</div>
            </a>
            <a href="#glossary-L" class="flex-link-glossary w-inline-block">
              <div>L</div>
            </a>
            <a href="#glossary-M" class="flex-link-glossary w-inline-block">
              <div>M</div>
            </a>
            <a href="#glossary-P" class="flex-link-glossary w-inline-block">
              <div>P</div>
            </a>
            <a href="#glossary-S" class="flex-link-glossary w-inline-block">
              <div>S</div>
            </a>
            <a href="#glossary-T" class="flex-link-glossary w-inline-block">
              <div>T</div>
            </a>
            <a href="#glossary-U" class="flex-link-glossary w-inline-block">
              <div>U</div>
            </a>
            <a href="#glossary-W" class="flex-link-glossary w-inline-block">
              <div>W</div>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() { 

   // var height = $('.jc-fixed-wrapper').outerHeight();
    var height = 125;

    var url = window.location.href;

    if ( url == 'https://www.rrmeds.com/pages/glossary?entourage-effect' ) {
          $('html, body').animate({
           scrollTop: $('#entourage-effect').offset().top-height
         }, 1000);
    }

    if ( url == 'https://www.rrmeds.com/pages/glossary?terpenes' ) {
          $('html, body').animate({
           scrollTop: $('#terpenes').offset().top-height
         }, 1000);
    }

  
    if ( url == 'https://www.rrmeds.com/pages/glossary?flavonoids' ) {
          $('html, body').animate({
           scrollTop: $('#flavonoids').offset().top-height
         }, 1000);
    }


    $('.flex-link-glossary').click(function()
    {
      $('html, body').animate({
          scrollTop: $( $.attr(this, 'href') ).offset().top-height
      }, 1000);
      return false;
    });
    

   });
</script>

<style>
  .fixed-top-wrapper{
    background-color: transparent;
  }
</style>