
{% section 'jc-hero-section-how-hemp-works' %}
  
  <div class="jc-how-hemp-works-hero">
    <div class="jc-content-wrapper-works">

      <div class="jc-row-works w-row">
        <div class="w-col w-col-8 w-col-small-8 w-col-tiny-tiny-stack">
          <div class="jc-col-inner-works-how-hemp-works">
            <h2 class="jc-col-heading-works">Endocannabinoid System</h2>
            <p class="jc-col-text-works">The Endocannabinoid System (ECS) is a collection of cell receptors and molecules located throughout the body. Our ECS is responsible for maintaining biochemical and physiological balance. Cannabinoids influence this balance by interacting with cannabinoid receptors to regulate natural homeostasis.</p>
            <div class="jc-receptor-section-works">
              <div class="jc-content-block-works">
                <div class="jc-content-flex-row-works">
                  <div class="jc-flex-dot-works"></div>
                  <h3 class="jc-flex-heading-works">CB1 Receptors</h3>
                </div>
                <p class="jc-content-text-works">The Cannabinoid 1 (CB1) receptors are mostly found on nerve cells in the brain, spinal cord, and in other organs.</p>
              </div>
              <div class="jc-content-block-works">
                <div class="jc-content-flex-row-works">
                  <div class="jc-flex-dot-works jc-flex-dot-works-alt"></div>
                  <h3 class="jc-flex-heading-works">CB2 Receptors</h3>
                </div>
                <p class="jc-content-text-works">The Cannabinoid 2 (CB2) receptors are found in our reproductive organs, immune system, and peripheral nervous system.</p>
              </div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/select-a-receptor-2-min.png" alt="Select A Receptor" class="jc-content-block-img-works"></div>

              
            </div>
          </div>
          <div class="jc-col-right-works w-col w-col-4 w-col-small-4 w-col-tiny-tiny-stack"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-how_hemp_works_AST_endo_man.svg?v=1658509185" alt="Person with markings of endocannabinoid receptors in body" class="jc-col-img-works"></div>
        </div>
        <div class="disclaimer-text-container">
          <p class="jc-disclaimer-text-works">These statements have not been approved by the Food and Drug Administration. This product is not intended to diagnose, treat, or prevent any disease.</p>
        </div>
    </div>
    {% comment %}
    <div class="jc-section-location-text jc-section-location-text-works">Estes Park, CO</div>
    {% endcomment %}
  </div>
  
  

