{% section 'sk-hero-section-rewards' %}

<div class="section-container grey">
  <div class="col-container-rewards">
    <h3 class="jc-h3-heading">how to earn rewards points</h3>

    <div class="col-container-rewards-inner">

      <div class="rewards-right-wrapper">
        <div class="rewards-inner no-padding">
          <img class="rewards-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-loyalty_discounts_AST_buying_icon.svg?v=1658851662">
          <div class="rewards-inner-right">
            <h2 class="jc-h2-heading">Shop R&R Products</h2>
            <div class="rewards-right-padding">
              <p class="paragraph-text">For every $1 spent on rrmeds.com, you'll earn 1 point. With every purchase, you'll build up points to use toward discounts when you hit certain point levels.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="rewards-left-wrapper">
        <div class="rewards-inner">
          <img class="rewards-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-loyalty_discounts_AST_sign_up_icon.svg?v=1658851662">
          <div class="rewards-inner-right">
            <h2 class="jc-h2-heading">Sign Up</h2>
            <p class="paragraph-text">Redeem your points for discounts on your CBD purchases! All you have to do is <a href="https://www.rrmeds.com/account/register" class="paragraph-link">create an account</a>. Plus, you'll get 100 points just for signing up.</p>
          </div>
        </div>
      </div>



  </div>

  </div>
</div>

<div class="image-and-text-square-conatiner">
  <div class="image-and-text-col">

    <div class="image-and-text-left">
      <div class="image-and-text-image"></div>
    </div>

    <div class="image-and-text-right-rewards">


      {% if customer %}
        <div class="image-and-text-right-inner">
          <div class="jc-account-rewards-heading-wrapper">
            <h3 class="jc-h3-heading white">YOUR REWARDS</h3>
          </div>
          <div class="jc-account-rewards-mid-wrapper">
            <div class="jc-account-rewards-main-text rewards">
              <div class="jc-account-rewards-text white-center">You Have</div>
              <h2 class="sweettooth-points-balance less-margin"><span class="sweettooth-points-balance"></span></h2>
              <div class="jc-account-rewards-text white-center">Rewards Points</div>
            </div>
          </div>
          <div class="jc-large-btn-section"><a href="rewards/#smile-home" class="jc-medium-btn w-button hollow green">Redeem Your Points</a></div>
          
        </div>
      
        
      {%else%}
      <div class="image-and-text-right-inner">
        <div class="jc-account-rewards-heading-wrapper">
          <h3 class="jc-h3-heading white">SIGN UP NOW AND EARN</h3>
        </div>
        <div class="jc-account-rewards-mid-wrapper">
          <div class="jc-account-rewards-main-text rewards">
            <h2 class="sweettooth-points-balance">100 points!</h2>
          </div>
        </div>
        <div class="jc-large-btn-section xl"><a href="/account/register" class="jc-medium-btn w-button hollow green">SIGN UP</a></div>
        <p class="paragraph-text white center">Or <a href="/accounts/login" class="paragraph-link light">Log In Here</a> if you already</br> have an account</p>
      </div>
      {% endif %}



   
    </div>

  </div>
</div>

<div class="section-container">
  <div class="col-container-rewards">
    <div class="jc-section-bg-col-faded-heading">How It Works</div>
    <h2 class="jc-main-heading small center">Every time you buy product,</br> you’ll earn points.</h2>
    <p class="paragraph-text large mobile-center">For every $1 spent on rrmeds.com, you’ll earn 1 point</p>
    <div class="how-it-works-wrapper">
      <div class="point-img-wrapper">
        <img class="points-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-loyalty_discounts_AST_200pts.svg?v=1658851662">
      </div>
      <div class="point-img-wrapper">
        <img class="points-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-loyalty_discounts_AST_350pts.svg?v=1658851662">
      </div>
      <div class="point-img-wrapper">
        <img class="points-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-loyalty_discounts_AST_500pts.svg?v=1658851661">
      </div>
      <div class="point-img-wrapper">
        <img class="points-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-loyalty_discounts_AST_750pts.svg?v=1658851662">
      </div>
    </div>

  </div>
</div>

<div class="jc-hero-bottom-wrapper-rewards-img">
  <div class="jc-hero-bottom-container-rewards-inner">
    <h2 class="jc-main-heading-faded">Check & use </br>your points at any time.</h2>
    <div class="rewards-text-container-width">
      <p class="jc-content-text-works center">Log into your rrmeds.com account to check your rewards points on the main account page. During checkout, you can also check to see if you have rewards to use toward your purchase. With four levels, you can decide if you want to use your points, or wait to build up more to receive a larger discount!</p>
    </div>
   
    <p class="jc-disclaimer-text-works center vet"><em>Rewards cannot be combined with other discount codes.</em></p>
  </div>	        
</div>

<div class="jc-products-section">
  <div class="jc-container-large">
    <div class="jc-section-heading-wrapper">
      <h2 class="jc-section-heading medium">Relaxation, relief, recovery<br> and
        rejuvenation await.</h2>
      
    </div>

    {% section 'jc-product-row-new' %}

  </div>
</div>





  <style>
    .fixed-top-wrapper{
      background-color: transparent;
    }
  </style>



