
{% section 'jc-learn-page' %}
<div class="jc-bar-breaker-learn"></div>
<style type="text/css">

#jc-nav-link-hold-active {

  color:#7a0805;

}

@media (max-width: 991px) { 
  #jc-nav-link-hold-active {

    color:#ffffff;

  }
}

  .fixed-top-wrapper{
    background-color: transparent;
  }


</style>