<
<div class="sk-hero-wrapper wf-section">
  <div class="sk-hero-img-wrapper">
    <div class="sk-hero-content-wrapper">
      <h1 class="jc-section-heading">What is Full-Spectrum and Broad-Spectrum (THC-Free*) Hemp Extract?</h1>
    </div>
  </div>
</div>



<div class="wrapper-outter mobile-only grey">
  <div class="guarentee-wrapper">
      <div class="jc-risk-content-wrapper full">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-cbd_101_AST_FS_gummies.png?v=1658356688" alt="60 Day Guarantee" class="jc-risk-free-img-big">
      </div>

      <div class="jc-risk-content-wrapper text">
          <div class="guarentee-text-wrapper">
              <h2 class="jc-section-heading medium">Full Spectrum</h2>
          </div>
              <p class="paragraph-text">We characterize our active ingredient as &quot;Full-Spectrum Hemp Extract&quot;, as our products contain a Full-Spectrum of cannabinoids (much more than just CBD), like CBN, CBC, CBL, CBD-V, THC, etc. Our extract includes a host of terpenes, antioxidants, amino acids, flavonoids, and phytonutrients. Unlike many of our competitors, we do not utilize any isolates (a single cannabinoid) in our products, but rather rely on the naturally occurring, full profile of cannabinoids in our proprietary Cherry strain of USDA certified organic hemp. This keeps all of the compounds intact to ensure users benefit from what&#x27;s called the &quot;Entourage Effect&quot; of all of the compounds working in harmony, as nature designed them to be. You can always view the full test results of any batch of every product on our <a class="paragraph-link" href="/pages/lab-testing">Lab Testing</a> page. All of our Full-Spectrum oil used in any of our products is USDA certified organic!</p>
              <div class="jc-medium-btn-section left extra-margin"><a href="/collections/all-products" class="jc-medium-btn no-margin w-button">Shop CBD</a></div>
             
      </div>
  </div>
</div>



<div class="image-and-text cbd-top wf-section">
  <div class="wrapper-inner">
    <div class="image-and-text-right-cbd">
      <div class="image-and-text-heading-wrapper">
        <div class="square green"></div>
        <h2 class="jc-section-heading medium">Full Spectrum</h2>
      </div>
      <p class="paragraph-text no-margin" >We characterize our active ingredient as &quot;Full-Spectrum Hemp Extract&quot;, as our products contain a Full-Spectrum of cannabinoids (much more than just CBD), like CBN, CBC, CBL, CBD-V, THC, etc. Our extract includes a host of terpenes, antioxidants, amino acids, flavonoids, and phytonutrients. Unlike many of our competitors, we do not utilize any isolates (a single cannabinoid) in our products, but rather rely on the naturally occurring, full profile of cannabinoids in our proprietary Cherry strain of USDA certified organic hemp. This keeps all of the compounds intact to ensure users benefit from what&#x27;s called the &quot;Entourage Effect&quot; of all of the compounds working in harmony, as nature designed them to be. You can always view the full test results of any batch of every product on our <a class="paragraph-link" href="/pages/lab-testing">Lab Testing</a> page. All of our Full-Spectrum oil used in any of our products is USDA certified organic!</p>
      <div class="jc-medium-btn-section extra-margin left"><a href="/collections/all-products" class="jc-medium-btn less-margin no-margin w-button">Shop All CBD</a></div>
    </div>
    <div class="image-and-text-left">
      <div class="image-and-text-img-right-cbd"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/cbd_101-30mg_gummy.png?v=1680711281" sizes="(max-width: 479px) 84vw, (max-width: 767px) 72vw, 46vw" alt=""></div>
    </div>
  </div>
</div>






<div class="wrapper-outter mobile-only grey bottom">
  <div class="guarentee-wrapper">
      <div class="jc-risk-content-wrapper full">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Thumb_Main_Tincture_BS_FM_1000mg_1.png?v=1662060896" alt="60 Day Guarantee" class="jc-risk-free-img-big">
      </div>

      <div class="jc-risk-content-wrapper text">
          <div class="guarentee-text-wrapper">
              <h2 class="jc-section-heading medium">Broad Spectrum</h2>
          </div>
         <h3 class="heading-secondary" >(THC Free*)</h3>
          <p class="paragraph-text" >Through a USDA organic certified process, we remediate our Full-Spectrum oil to remove the THC, so you’re still getting a robust profile of cannabinoids, terpenes, antioxidants, amino acids, and more. Our Broad Spectrum Extract still includes the cannabinoids like CBN, CBC, CBL, CBD-V, though it tests at 0.0% THC. Unlike other companies that combine two isolates and market it as “Broad Spectrum,” we truly deliver a full profile of nutrients, minus the THC. You can always view the full test results of any batch of every product on our <a class="paragraph-link" href="/pages/lab-testing">Lab Testing</a> page. All of our Broad-Spectrum oil used in any of our products is USDA certified organic!</p>
          <p class="italic-bold-text left">*Non-detectable levels of THC according to HPLC analysis by third-party labs.</p>
          <div class="jc-medium-btn-section left extra-margin"><a href="/collections/all-products" class="jc-medium-btn no-margin w-button">SHOP THC-FREE* CBD</a></div>
             
      </div>
  </div>
</div>






<div class="image-and-text cbd wf-section">
  <div class="wrapper-inner alt row">
    <div class="image-and-text-right">
      <div class="image-and-text-img-left-cbd"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-cbd_101_2_AST_broad_spec_2.png?v=1660237577" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-cbd_101_2_AST_broad_spec_2.png?v=1660237577 500w, https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-cbd_101_2_AST_broad_spec_2.png?v=1660237577 775w" sizes="(max-width: 479px) 84vw, (max-width: 767px) 72vw, 46vw" alt=""></div>
    </div>
    <div class="image-and-text-left-cbd">
      <div class="image-and-text-heading-wrapper">
        <div class="square orange"></div>
        <h2 class="jc-section-heading medium" >Broad Spectrum</h2>
      </div>
      <h3 class="heading-secondary" >(THC Free*)</h3>
      <p class="paragraph-text" >Through a USDA organic certified process, we remediate our Full-Spectrum oil to remove the THC, so you’re still getting a robust profile of cannabinoids, terpenes, antioxidants, amino acids, and more. Our Broad Spectrum Extract still includes the cannabinoids like CBN, CBC, CBL, CBD-V, though it tests at 0.0% THC. Unlike other companies that combine two isolates and market it as “Broad Spectrum,” we truly deliver a full profile of nutrients, minus the THC. You can always view the full test results of any batch of every product on our <a class="paragraph-link" href="/pages/lab-testing">Lab Testing</a> page. All of our Broad-Spectrum oil used in any of our products is USDA certified organic!</p>
      <p class="italic-bold-text left">*Non-detectable levels of THC according to HPLC analysis by third-party labs.</p>
      <div class="jc-medium-btn-section extra-margin left"><a href="/collections/all-products" class="jc-medium-btn less-margin no-margin w-button">SHOP THC-FREE* CBD</a></div>
    </div>
  </div>
</div>

{% section 'sk-banner-with-one-topic' %}

<div class="benifits-section wf-section">
  <div class="heading-container">
    <h1 class="jc-section-heading medium center">Hemp extract can help with...</h1>
  </div>
  <div class="col-container cbd">
    <div class="col-25 cbd">
      <img class="benifits-img-cbd" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-cbd_101_AST_benefits_calm.png?v=1658356688" loading="lazy" alt="">
      <h3 class="benifits-heading">Calming</br> of the mind*</h3>
    </div>
    <div class="col-25 cbd"><img class="benifits-img-cbd" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-cbd_101_AST_benefits_stress.png?v=1658356688" loading="lazy" alt="">
      <h3 class="benifits-heading">Managing</br> everyday stress*</h3>
    </div>
    <div class="col-25 cbd"><img class="benifits-img-cbd" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-cbd_101_AST_benefits_relieve.png?v=1658356688" loading="lazy" alt="">
      <h3 class="benifits-heading">Relieving</br> discomfort*</h3>
    </div>
    <div class="col-25 cbd"><img class="benifits-img-cbd" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-cbd_101_AST_benefits_sleep.png?v=1658356688" loading="lazy" alt="">
      <h3 class="benifits-heading">healthy sleep</br> cycles*</h3>
    </div>
  </div>
  <div class="disclaimer-text">
  </div>
</div>
<style>
  .fixed-top-wrapper{
    background-color: transparent;
  }
</style>