
{% comment %}
<div class="jc-hero-wrapper-internal">
  <div class="jc-hero-content-wrapper-internal">
    <div class="w-container"><a href="/" class="jc-hero-logo-link-internal w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/R-R-Medicinals-Logo-white-bg.png?578" alt="R + R Medicinals Logo" srcset="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/R-R-Medicinals-Logo-white-bg-p-500.png?578 500w, https://cdn.shopify.com/s/files/1/0107/7431/5072/files/R-R-Medicinals-Logo-white-bg.png?578 676w" sizes="(max-width: 479px) 100vw, 350px" class="jc-hero-logo-internal"></a>
      
      <h3 class="jc-hero-heading-who"><a href="#" class="jc-hero-heading-link">Our Story Video</a></h3>
      
    </div>
  </div>
</div>
{% endcomment %}

<div class="jc-section-bg-who">
  <div>
    <div class="w-container">
      <h2 class="jc-section-heading-alt">Who We Are</h2>
      <p class="jc-section-bg-who-text">In an age obsessed with chemically synthesized medicine, we hold true to using 100% natural hemp to practice self-care. R&R Medicinals brings us back to a simple, natural, and effective remedy that has worked for centuries.</p>
      <p class="jc-section-bg-who-text">Hemp oil dramatically changed our lives for the better, so we sought out to create our own blend of fully traceable, honest ingredients to share the amazing benefits with those around us.</p>
      <p class="jc-section-bg-who-text">We believe that when you take better care of yourself, you’re able to take better care of those around you. We are certain that when you effectively manage your stress, anxiety, sleep, and pain, you will positively impact those that you know, love, and serve.</p>
    </div>
  </div>
  <div class="jc-section-location-text">Estes Park, CO</div>
</div>

{% section 'jc-r-r-difference' %}
{% section 'jc-newsletter' %}