<div class="vertical-section-contact discounts grey wf-section">
  <div class="vertical-section-inner">
    <h1 class="jc-main-heading medium center">Take Advantage of R&R Discounts</h1>
  </div>
</div>

<div class="jc-hero-discounts">
  <div class="jc-learn-hero-content-wrapper-discounts">
    <div class="jc-hero-row-discounts w-row">

      <div class="jc-hero-flex-col-discounts-wrapper">
        <div class="jc-hero-col-inner-learn">
          <div class="jc-hero-col-img-block-learn" data-ix="hero-block-learn" style="background-image: url('https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-discounts_category_2_AST_auto_ship.jpg?v=1660063522');">
            <div class="jc-hero-block-overlay"></div>
            <a href="/pages/auto-ship-program" class="jc-hero-col-img-block-overlay-learn"></a>
          </div>
        </div>
        <div class="jc-hero-col-img-block-content-wrapper-learn">
          <a href="/pages/auto-ship-program" class="heading-link">
            <h3 class="jc-product-section-heading no-margin white light">Subscribe & Save Program - <span class="yellow-text"> 20% Off</span></h3>
          </a>
        </div>
      </div>

      <div class="jc-hero-flex-col-discounts-wrapper">
        <div class="jc-hero-col-inner-learn">
          <div class="jc-hero-col-img-block-learn" data-ix="hero-block-learn" style="background-image: url('https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-discounts_category_AST_veterans.jpg?v=1658872649');">
            <div class="jc-hero-block-overlay"></div>
            <a href="/pages/veteran-program" class="jc-hero-col-img-block-overlay-learn"></a>
          </div>
        </div>
        <div class="jc-hero-col-img-block-content-wrapper-learn">
          <a href="/pages/veteran-program" class="heading-link">
            <h3 class="jc-product-section-heading no-margin white light">VETERAN DISCOUNT - <span class="yellow-text">25% Off</span></h3>
          </a>
        </div>
      </div>

      <div class="jc-hero-flex-col-discounts-wrapper">
        <div class="jc-hero-col-inner-learn">
          <div class="jc-hero-col-img-block-learn" data-ix="hero-block-learn" style="background-image: url('https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-discounts_category_AST_referrals.jpg?v=1658872649');">
            <div class="jc-hero-block-overlay"></div>
            <a href="/pages/referral" class="jc-hero-col-img-block-overlay-learn"></a>
          </div>
        </div>
        <div class="jc-hero-col-img-block-content-wrapper-learn">
          <a href="/pages/referral" class="heading-link">
            <h3 class="jc-product-section-heading no-margin white light">REFERRAL PROGRAM - <span class="yellow-text">30% Off</span></h3>
          </a>
        </div>
      </div>


      <div class="jc-hero-flex-col-discounts-wrapper">
        <div class="jc-hero-col-inner-learn">
          <div class="jc-hero-col-img-block-learn" data-ix="hero-block-learn" style="background-image: url('https://cdn.shopify.com/s/files/1/0107/7431/5072/files/800px.jpg?v=1663280400');">
            <div class="jc-hero-block-overlay"></div>
            <a href="/pages/rewards" class="jc-hero-col-img-block-overlay-learn"></a>
          </div>
        </div>
        <div class="jc-hero-col-img-block-content-wrapper-learn">
          <a href="/pages/rewards" class="heading-link">
            <h3 class="jc-product-section-heading no-margin white light">REWARDS PROGRAM</span></h3>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>



<style type="text/css">
#jc-nav-link-discounts {

  color:#7a0805;
}
@media (max-width: 991px) { 
  #jc-nav-link-discounts {

    color:#ffffff;

  }
}

</style>
<style>
  .fixed-top-wrapper{
    background-color: transparent;
  }
</style>