



<div class="jc-hero-wrapper-qc">

  <div class="jc-hero-block-qc">
    <h1 class="jc-hero-heading-qc">How Do We Verify Quality And Safety?</h1>
    <p class="jc-hero-text-qc">We rigorously test every batch of product with third-parties to ensure our standards of quality and safety are met. We conduct all of our testing with SC Labs, Botanacor Labs, and AgriScience Labs. Take comfort in knowing that we operate an FDA registered facility and are registered with the Colorado Department of Public Health and Environment (CDPHE).</p>
    <h2 class="jc-hero-sub-heading-qc">We Test For The Following:</h2>
    <div class="jc-hero-icon-row-qc w-row">
      <div class="jc-hero-icon-col-qc w-col w-col-2 w-col-small-4 w-col-tiny-6">
        <div class="jc-hero-icon-col-inner-qc"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/potency-analysis-min.png" alt="Needle Measuring" class="jc-hero-icon-img-qc">
          <h4 class="jc-hero-icon-col-heading-qc">Potency<br>Analysis</h4>
        </div>
      </div>
      <div class="jc-hero-icon-col-qc w-col w-col-2 w-col-small-4 w-col-tiny-6">
        <div class="jc-hero-icon-col-inner-qc"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/terpene-profile-min.png" alt="Nose Smelling" class="jc-hero-icon-img-qc">
          <h4 class="jc-hero-icon-col-heading-qc">Terpene<br>Profile</h4>
        </div>
      </div>
      <div class="jc-hero-icon-col-qc w-col w-col-2 w-col-small-4 w-col-tiny-6">
        <div class="jc-hero-icon-col-inner-qc"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/microbial-analysis-min.png" alt="Microbes" class="jc-hero-icon-img-qc">
          <h4 class="jc-hero-icon-col-heading-qc">Microbial<br>Analysis</h4>
        </div>
      </div>
      <div class="jc-hero-icon-col-qc w-col w-col-2 w-col-small-4 w-col-tiny-6">
        <div class="jc-hero-icon-col-inner-qc"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/heavy-metal-analysis-min.png" alt="Chemistry Chemicals" class="jc-hero-icon-img-qc">
          <h4 class="jc-hero-icon-col-heading-qc">Heavy Metal<br>Analysis</h4>
        </div>
      </div>
      <div class="jc-hero-icon-col-qc w-col w-col-2 w-col-small-4 w-col-tiny-6">
        <div class="jc-hero-icon-col-inner-qc"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/residual-solvents-min.png" alt="Lab Beaker" class="jc-hero-icon-img-qc">
          <h4 class="jc-hero-icon-col-heading-qc">Residual<br>Solvents</h4>
        </div>
      </div>
      <div class="jc-hero-icon-col-qc w-col w-col-2 w-col-small-4 w-col-tiny-6">
        <div class="jc-hero-icon-col-inner-qc"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pesticide-analysis-min.png" alt="chemical blocked out" class="jc-hero-icon-img-qc">
          <h4 class="jc-hero-icon-col-heading-qc">Pesticide<br>Analysis</h4>
        </div>
      </div>
    </div>
    <div class="jc-quality-arrow-wrapper">
      <a href="#results" class="jc-quality-arrow-link w-inline-block">
        <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/chevron-thin-down-min.png" alt="Down Arrow" class="jc-quantity-arrow-img">
      </a>
    </div>
    <div class="jc-lab-testing-hero-bottom-text">
        <p>Note: These products are exclusively sold on <a href="/">rrmeds.com</a> and are not available on Amazon.com. On Amazon.com, we only offer complete profile omega supplements.</p>
      </div>
  </div>

  <div id="results" class="jc-hero-block-qc jc-hero-content-block-bottom-qc">

    <div class="jc-section-heading-wrapper jc-section-heading-wrapper-margin">
      <h3 class="jc-hero-heading-qc jc-hero-heading-qc-bottom">Lab Results</h3>
      <div class="jc-section-heading-hr"></div>
      <div class="jc-section-heading-hr jc-section-heading-hr-bottom"></div>
    </div>
    

    <div class="jc-hero-bottom-content-wrapper-qc">

      <div class="jc-content-block-qc">

        <div class="jc-outer-row-lab-testing w-row">
          <div class="jc-outer-col-lab-testing w-col w-col-6">
            <div class="jc-row-heading-wrapper">
              <h3 class="jc-row-heading-qc">Cream</h3>
            </div>

            <div class="jc-flex-row-qc">
            
              <div class="jc-bottom-col-inner-qc">
                <h5 class="jc-bottom-flex-heading-qc">1000mg<br>Cream CoA's</h5>

                <div class="jc-product-section-btn-wrapper">
                  <a href="#" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn-modal">
                    <p class="jc-product-section-link-text jc-qa-section-link-text">View Lab Results</p>
                    <div class="jc-btn-breaker-wrapper jc-btn-breaker-wrapper-qc">
                      <div class="jc-product-section-link-breaker"></div>
                      <div class="jc-product-section-link-breaker-expand"></div>
                    </div>
                  </a>

                  <div class="jc-lab-modal">
                    <div class="jc-lab-modal-content-wrapper">
                      <h6 class="jc-lab-modal-heading">1000mg Cream CoA's</h6>
                      <div class="jc-lab-modal-bottom-wrapper">
                        <div class="jc-lab-modal-content-block">
                          <a href="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/1000mg-Cream-CoA__Lot_3100_5_21.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                            <div>1000mg Cream - Lot 3100</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                        </div>
                      </div><a href="#" class="jc-lab-modal-close-btn" data-ix="lab-modal-close">X</a>
                    </div>
                  </div>

                </div>

              </div>
              
              

              
            
            </div> <!-- jc-flex-row-qc -->

          </div> <!-- outer col-->

          <div class="jc-outer-col-lab-testing jc-outer-col-lab-testing-border w-col w-col-6">

            <div class="jc-row-heading-wrapper">
              <h3 class="jc-row-heading-qc">Gummies</h3>
            </div>

            <div class="jc-flex-row-qc">

              <div class="jc-bottom-col-inner-qc">
                <h5 class="jc-bottom-flex-heading-qc">25mg<br>Gummy CoA's</h5>

                <div class="jc-product-section-btn-wrapper">
                  <a href="#" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn-modal">
                    <p class="jc-product-section-link-text jc-qa-section-link-text">View Lab Results</p>
                    <div class="jc-btn-breaker-wrapper jc-btn-breaker-wrapper-qc">
                      <div class="jc-product-section-link-breaker"></div>
                      <div class="jc-product-section-link-breaker-expand"></div>
                    </div>
                  </a>

                  <div class="jc-lab-modal">
                    <div class="jc-lab-modal-content-wrapper">
                      <h6 class="jc-lab-modal-heading">25mg Gummy CoA's</h6>
                      <div class="jc-lab-modal-bottom-wrapper">
                        <div class="jc-lab-modal-content-block">
                          <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_Gummy.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                            <div>25mg Gummy - Lot 2400</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                        </div>
                        <div class="jc-lab-modal-content-block">
                          <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/Gummy-COA-lot-2401.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                            <div>25mg Gummy - Lot 2401</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                        </div>
                      </div><a href="#" class="jc-lab-modal-close-btn" data-ix="lab-modal-close">X</a>
                    </div>
                  </div>

                </div>

              </div>

              
              
            </div>

          </div> <!-- outer col-->
        </div> <!-- outer row -->

       
      </div> <!-- jc-content-block-qc -->


      <div class="jc-content-block-qc">
        <div class="jc-row-heading-wrapper">
          <h3 class="jc-row-heading-qc">Tinctures</h3>
         
        </div>
        <div class="jc-flex-row-qc jc-flex-row-qc-alt">
          <div class="jc-bottom-col-inner-qc jc-bottom-col-inner-qc-alt">
            <h5 class="jc-bottom-flex-heading-qc jc-bottom-flex-heading-qc-alt">500mg<br>Tincture CoA's</h5>
            <div class="jc-bottom-flex-text-flavor-qc">Fresh Mint</div>
            <div class="jc-product-section-btn-wrapper">
              <a href="#" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn-modal">
                <p class="jc-product-section-link-text jc-qa-section-link-text">View Lab Results</p>
                <div class="jc-btn-breaker-wrapper jc-btn-breaker-wrapper-qc">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>

              <div class="jc-lab-modal">
                <div class="jc-lab-modal-content-wrapper">
                  <h6 class="jc-lab-modal-heading jc-lab-modal-heading-alt">500mg Tincture CoA's</h6>
                  <div class="jc-lab-modal-heading-flavor">Fresh Mint</div>
                  <div class="jc-lab-modal-bottom-wrapper">
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_TG5_47_500mg2.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>500mg Tincture - Lot 0303</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/500mg_Tincture_-_Lot_0304.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>500mg Tincture - Lot 0304</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                  </div><a href="#" class="jc-lab-modal-close-btn" data-ix="lab-modal-close">X</a>
                </div>
              </div>

            </div>

          </div>

          <div class="jc-bottom-col-inner-qc jc-bottom-col-inner-qc-alt">
            <h5 class="jc-bottom-flex-heading-qc jc-bottom-flex-heading-qc-alt">1000mg<br>Tincture CoA's</h5>
            <div class="jc-bottom-flex-text-flavor-qc">Fresh Mint</div>
            <div class="jc-product-section-btn-wrapper">
              <a href="#" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn-modal">
                <p class="jc-product-section-link-text jc-qa-section-link-text">View Lab Results</p>
                <div class="jc-btn-breaker-wrapper jc-btn-breaker-wrapper-qc">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>

              <div class="jc-lab-modal">
                <div class="jc-lab-modal-content-wrapper">
                  <h6 class="jc-lab-modal-heading jc-lab-modal-heading-alt">1000mg Tincture CoA's</h6>
                  <div class="jc-lab-modal-heading-flavor">Fresh Mint</div>
                  <div class="jc-lab-modal-bottom-wrapper">
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_1000mg_0551.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>1000mg Tincture - Lot 0551</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_TGM_1000_0552_Nov2019.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>1000mg Tincture - Lot 0552</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_TGM_1000_0553_Nov2019.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>1000mg Tincture - Lot 0553</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_1000mg_0554.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>1000mg Tincture - Lot 0554</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_1000_0555.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>1000mg Tincture - Lot 0555</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_1000_0556.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>1000mg Tincture - Lot 0556</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_1000_0557.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>1000mg Tincture - Lot 0557</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/1000mg-Fresh-Mint-COA-Lot-0558.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>1000mg Tincture - Lot 0558</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/1000mg-Fresh-Mint-COA-Lot-0559.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>1000mg Tincture - Lot 0559</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="https://cdn.shopify.com/s/files/1/0105/2839/1204/files/COA-1000mg_Fresh_Mint_Tincture_Lot_0560.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>1000mg Tincture - Lot 0560</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/R_R_Medicinals_1000mg_Full_Spectrum_Tincture_Lot_0561_COA.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>1000mg Tincture - Lot 0561</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                  </div><a href="#" class="jc-lab-modal-close-btn" data-ix="lab-modal-close">X</a>
                </div>
              </div>

            </div>
          </div>

          <div class="jc-bottom-col-inner-qc jc-bottom-col-inner-qc-alt">
            <h5 class="jc-bottom-flex-heading-qc jc-bottom-flex-heading-qc-alt">2500mg<br>Tincture CoA's</h5>
            <div class="jc-bottom-flex-text-flavor-qc">Fresh Mint</div>
            <div class="jc-product-section-btn-wrapper">
              <a href="#" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn-modal">
                <p class="jc-product-section-link-text jc-qa-section-link-text">View Lab Results</p>
                <div class="jc-btn-breaker-wrapper jc-btn-breaker-wrapper-qc">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>

              <div class="jc-lab-modal">
                <div class="jc-lab-modal-content-wrapper">
                  <h6 class="jc-lab-modal-heading jc-lab-modal-heading-alt">2500mg Tincture CoA's</h6>
                  <div class="jc-lab-modal-heading-flavor">Fresh Mint</div>
                  <div class="jc-lab-modal-bottom-wrapper">
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/2500mg_Tincture_-_Lot_0010.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>2500mg Tincture - Lot 0010</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_2500.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>2500mg Tincture - Lot 0011</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/2500mg-Peppermint-CoA-Lot-0012.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>2500mg Tincture - Lot 0012</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                  </div><a href="#" class="jc-lab-modal-close-btn" data-ix="lab-modal-close">X</a>
                </div>
              </div>

            </div>
          </div>

          <div class="jc-bottom-col-inner-qc jc-bottom-col-inner-qc-alt">
            <h5 class="jc-bottom-flex-heading-qc jc-bottom-flex-heading-qc-alt">500mg<br>Tincture CoA's</h5>
            <div class="jc-bottom-flex-text-flavor-qc">Unflavored</div>
            <div class="jc-product-section-btn-wrapper">
              <a href="#" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn-modal">
                <p class="jc-product-section-link-text jc-qa-section-link-text">View Lab Results</p>
                <div class="jc-btn-breaker-wrapper jc-btn-breaker-wrapper-qc">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>

              <div class="jc-lab-modal">
                <div class="jc-lab-modal-content-wrapper">
                  <h6 class="jc-lab-modal-heading jc-lab-modal-heading-alt">500mg Tincture CoA's</h6>
                  <div class="jc-lab-modal-heading-flavor">Unflavored</div>
                  <div class="jc-lab-modal-bottom-wrapper">
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/500mg-Unflavored-COA-Lot-1515.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>500mg Tincture - Lot 1515</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                  </div><a href="#" class="jc-lab-modal-close-btn" data-ix="lab-modal-close">X</a>
                </div>
              </div>

            </div>
          </div>

          <div class="jc-bottom-col-inner-qc jc-bottom-col-inner-qc-alt">
            <h5 class="jc-bottom-flex-heading-qc jc-bottom-flex-heading-qc-alt">1000mg<br>Tincture CoA's</h5>
            <div class="jc-bottom-flex-text-flavor-qc">Unflavored</div>
            <div class="jc-product-section-btn-wrapper">
              <a href="#" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn-modal">
                <p class="jc-product-section-link-text jc-qa-section-link-text">View Lab Results</p>
                <div class="jc-btn-breaker-wrapper jc-btn-breaker-wrapper-qc">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>

              <div class="jc-lab-modal">
                <div class="jc-lab-modal-content-wrapper">
                  <h6 class="jc-lab-modal-heading jc-lab-modal-heading-alt">1000mg Tincture CoA's</h6>
                  <div class="jc-lab-modal-heading-flavor">Unflavored</div>
                  <div class="jc-lab-modal-bottom-wrapper">
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_1000_Unfl_1865.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>1000mg Tincture - Lot 1865</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/1000mg-Unflavored-COA-Lot-1866.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>1000mg Tincture - Lot 1866</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                  </div><a href="#" class="jc-lab-modal-close-btn" data-ix="lab-modal-close">X</a>
                </div>
              </div>

            </div>
          </div>

           

          

        </div>
      </div>

      <div class="jc-content-block-qc">
        <div class="jc-row-heading-wrapper">
          <h3 class="jc-row-heading-qc">Softgels</h3>
         
        </div>
        <div class="jc-flex-row-qc">
          <div class="jc-bottom-col-inner-qc">
            <h5 class="jc-bottom-flex-heading-qc">15mg<br>Softgel CoA's</h5>
            <div class="jc-product-section-btn-wrapper">
              <a href="#" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn-modal">
                <p class="jc-product-section-link-text jc-qa-section-link-text">View Lab Results</p>
                <div class="jc-btn-breaker-wrapper jc-btn-breaker-wrapper-qc">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>

              <div class="jc-lab-modal">
                <div class="jc-lab-modal-content-wrapper">
                  <h6 class="jc-lab-modal-heading">15mg Softgel CoA's</h6>
                  <div class="jc-lab-modal-bottom-wrapper">
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_15mg_1000_CC_V2.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>15mg Softgels - Lot 1000</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_15mg_Softgels_1001.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>15mg Softgels - Lot 1001</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_15mg_1002.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>15mg Softgels - Lot 1002</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                  </div><a href="#" class="jc-lab-modal-close-btn" data-ix="lab-modal-close">X</a>
                </div>
              </div>

            </div>
          </div>
          <div class="jc-bottom-col-inner-qc">
            <h5 class="jc-bottom-flex-heading-qc">30mg<br>Softgel CoA's</h5>
            <div class="jc-product-section-btn-wrapper">
              <a href="#" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn-modal">
                <p class="jc-product-section-link-text jc-qa-section-link-text">View Lab Results</p>
                <div class="jc-btn-breaker-wrapper jc-btn-breaker-wrapper-qc">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>

              <div class="jc-lab-modal">
                <div class="jc-lab-modal-content-wrapper">
                  <h6 class="jc-lab-modal-heading">30mg Softgel CoA's</h6>
                  <div class="jc-lab-modal-bottom-wrapper">
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_30mg_0809.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>30mg Softgels - Lot 0809</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_30mg_Softgels_0810_Nov6.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>30mg Softgels - Lot 0810</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_30mg_0811.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>30mg Softgels - Lot 0811</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                  </div><a href="#" class="jc-lab-modal-close-btn" data-ix="lab-modal-close">X</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="jc-content-block-qc">
        <div class="jc-row-heading-wrapper">
          <h3 class="jc-row-heading-qc">Pet Products</h3>
        
        </div>
        <div class="jc-flex-row-qc">

                    <div class="jc-bottom-col-inner-qc">
            <h5 class="jc-bottom-flex-heading-qc">1.5mg<br>Cat Chews CoA's</h5>
            <div class="jc-product-section-btn-wrapper">
              <a href="#" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn-modal">
                <p class="jc-product-section-link-text jc-qa-section-link-text">View Lab Results</p>
                <div class="jc-btn-breaker-wrapper jc-btn-breaker-wrapper-qc">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>

              <div class="jc-lab-modal">
                <div class="jc-lab-modal-content-wrapper">
                  <h6 class="jc-lab-modal-heading">1.5mg Cat Chews CoA's</h6>
                  <div class="jc-lab-modal-bottom-wrapper">
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/R_R_Medicinals_1000mg_Cream_CoA_Lot_3101.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>1.5mg Cat Chews - Lot 6001</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                  </div><a href="#" class="jc-lab-modal-close-btn" data-ix="lab-modal-close">X</a>
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="jc-bottom-col-inner-qc">
            <h5 class="jc-bottom-flex-heading-qc">5mg<br>Dog Chews CoA's</h5>
            <div class="jc-product-section-btn-wrapper">
              <a href="#" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn-modal">
                <p class="jc-product-section-link-text jc-qa-section-link-text">View Lab Results</p>
                <div class="jc-btn-breaker-wrapper jc-btn-breaker-wrapper-qc">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>

              <div class="jc-lab-modal">
                <div class="jc-lab-modal-content-wrapper">
                  <h6 class="jc-lab-modal-heading">5mg Dog Chews CoA's</h6>
                  <div class="jc-lab-modal-bottom-wrapper">
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_Dog_Chews.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>5mg Dog Chews - Lot 20200651</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                  </div><a href="#" class="jc-lab-modal-close-btn" data-ix="lab-modal-close">X</a>
                </div>
              </div>
            </div>
          </div>
          
          
          
          
          {% comment %}
          <div class="jc-bottom-col-inner-qc">
            <h5 class="jc-bottom-flex-heading-qc">300mg<br>Pet Tincture CoA's</h5>
            <div class="jc-product-section-btn-wrapper">
              <a href="#" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn-modal">
                <p class="jc-product-section-link-text jc-qa-section-link-text">View Lab Results</p>
                <div class="jc-btn-breaker-wrapper jc-btn-breaker-wrapper-qc">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>

              <div class="jc-lab-modal">
                <div class="jc-lab-modal-content-wrapper">
                  <h6 class="jc-lab-modal-heading">300mg Pet Tincture CoA's</h6>
                  <div class="jc-lab-modal-bottom-wrapper">
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_Template_GOA_NEW.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>300mg Pet Tincture - Lot 18274</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                  </div><a href="#" class="jc-lab-modal-close-btn" data-ix="lab-modal-close">X</a>
                </div>
              </div>

            </div>
          </div>
         {% endcomment %}
          
          
          <div class="jc-bottom-col-inner-qc">
            <h5 class="jc-bottom-flex-heading-qc">500mg<br>Pet Tincture CoA's</h5>
            <div class="jc-product-section-btn-wrapper">
              <a href="#" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn-modal">
                <p class="jc-product-section-link-text jc-qa-section-link-text">View Lab Results</p>
                <div class="jc-btn-breaker-wrapper jc-btn-breaker-wrapper-qc">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>

              <div class="jc-lab-modal">
                <div class="jc-lab-modal-content-wrapper">
                  <h6 class="jc-lab-modal-heading">500mg Pet Tincture CoA's</h6>
                  <div class="jc-lab-modal-bottom-wrapper">
                   
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_TAG43_500mg_Pet_V2.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>500mg Pet Tincture - Lot 0700</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    
                    
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/500mg_Pet_Tincture_-_Lot_0701.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>500mg Pet Tincture - Lot 0701</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    
                    
                    <div class="jc-lab-modal-content-block">
                      <a href="//cdn.shopify.com/s/files/1/0107/7431/5072/files/COA_500_Pet_0702.pdf" target="_blank" class="jc-lab-modal-flex-link w-inline-block">
                        <div>500mg Pet Tincture - Lot 0702</div><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/pdf-min.png" width="128" alt="" class="jc-lab-modal-flex-img"></a>
                    </div>
                    
                    
                    
                  </div><a href="#" class="jc-lab-modal-close-btn" data-ix="lab-modal-close">X</a>
                </div>
              </div>

            </div>
          </div>
          
          
          
        </div>
      </div>


    </div>
  </div>

  


</div>

