
<div class="jc-hero-wrapper-holiday">
  <div class="jc-content-block-holiday">
    <div class="jc-section-heading-wrapper">
      <h1 class="jc-section-heading">Holiday Deals</h1>
      <div class="jc-section-heading-hr"></div>
      <div class="jc-section-heading-hr jc-section-heading-hr-bottom"></div>
    </div>
    <div class="jc-holiday-top-text-holder">
    <p class="jc-holiday-top-text">Take advantage of these deals as many times as you like through the month of December! All discount codes may be used multiple times per customer, and discounts scale up. For example, if you purchase <span style="text-decoration: underline;"><strong>FOUR</strong></span> 30mg Softgels, you'll get <span style="text-decoration: underline;"><strong>TWO FREE</strong></span>.</p>
      <p class="jc-holiday-top-text"><strong>Order by December 17th for delivery by Christmas.</strong></p>
      <p class="jc-holiday-top-text">**You must add all products to the cart and input the discount code for the deal you are redeeming in order to receive the free or discounted product. For example, in order to get a <span style="text-decoration: underline;"><strong>FREE 30mg Softgel</strong></span> when you buy TWO, you must add <span style="text-decoration: underline;"><strong>ALL THREE Softgels</strong></span> to the cart and apply the discount code shown on the Holiday Deals Page.**</p>
    </div>
    <div class="jc-content-wrapper-holiday">

      <div class="jc-row-holiday w-row">
        <div class="jc-col-holiday jc-col-holiday-border w-col w-col-6">
          <div class="jc-col-inner-holiday"><img src="//cdn.shopify.com/s/files/1/0107/7431/5072/files/holiday-3-v4-min.jpg" alt="30mg Softgels" class="jc-col-img-holiday">
            <h4 class="jc-col-heading-holiday">Buy Two 30mg Softgels<br><span style="text-decoration: underline;"><strong>Get One Free</strong></span></h4>
            <p class="jc-col-bottom-text-holiday">Use Discount Code:</p>
            <p class="jc-col-bottom-text-holiday-alt">30mgfree</p>
            <div class="jc-product-section-btn-wrapper">
              <a href="https://rrmeds.com/cart/add?id=29122871918645&quantity=3" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn">
                <p class="jc-product-section-link-text">Add to Cart</p>
                <div class="jc-btn-breaker-wrapper">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="jc-col-holiday jc-holiday-border-3 w-col w-col-6">
          <div class="jc-col-inner-holiday"><img src="//cdn.shopify.com/s/files/1/0107/7431/5072/files/holiday-4-v4-min.jpg" alt="15mg Softgels" class="jc-col-img-holiday">
            <h4 class="jc-col-heading-holiday">Buy Two 15mg Softgels<br><span style="text-decoration: underline;"><strong>Get One Free</strong></span></h4>
            <p class="jc-col-bottom-text-holiday">Use Discount Code:</p>
            <p class="jc-col-bottom-text-holiday-alt">15mgfree</p>
            <div class="jc-product-section-btn-wrapper">
              <a href="https://rrmeds.com/cart/add?id=29122871853109&quantity=3" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn">
                <p class="jc-product-section-link-text">Add to Cart</p>
                <div class="jc-btn-breaker-wrapper">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="jc-row-holiday jc-row-holiday-top w-row">
        <div class="jc-col-holiday jc-col-holiday-border-2 w-col w-col-6">
          <div class="jc-col-inner-holiday"><img src="//cdn.shopify.com/s/files/1/0107/7431/5072/files/holiday-1-v4-min.jpg" alt="1000mg Tincture and 30mg Softgels" class="jc-col-img-holiday">
            <h4 class="jc-col-heading-holiday">Buy Our 1000mg Tincture<br>Get <span style="text-decoration: underline;"><strong>50% Off</strong></span> Our 30mg Softgels</h4>
            <p class="jc-col-bottom-text-holiday">Use Discount Code:</p>
            <p class="jc-col-bottom-text-holiday-alt">30mghalf</p>
            <div class="jc-product-section-btn-wrapper">
              <a href="https://rrmeds.com/cart/add?id%5B%5D=29122588934197&id%5B%5D=29122871918645" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn">
                <p class="jc-product-section-link-text">Add to Cart</p>
                <div class="jc-btn-breaker-wrapper">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="jc-col-holiday w-col w-col-6">
          <div class="jc-col-inner-holiday"><img src="//cdn.shopify.com/s/files/1/0107/7431/5072/files/holiday-2-v4-min.jpg" alt="500mg Tincture and 15mg Softgels" class="jc-col-img-holiday">
            <h4 class="jc-col-heading-holiday">Buy Our 500mg Tincture<br>Get <span style="text-decoration: underline;"><strong>50% Off</strong></span> Our 15mg Softgels</h4>
            <p class="jc-col-bottom-text-holiday">Use Discount Code:</p>
            <p class="jc-col-bottom-text-holiday-alt">15mghalf</p>
            <div class="jc-product-section-btn-wrapper">
              <a href="https://rrmeds.com/cart/add?id%5B%5D=29122588868661&id%5B%5D=29122871853109" class="jc-product-section-link-block w-inline-block" data-ix="shop-btn">
                <p class="jc-product-section-link-text">Add to Cart</p>
                <div class="jc-btn-breaker-wrapper">
                  <div class="jc-product-section-link-breaker"></div>
                  <div class="jc-product-section-link-breaker-expand"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <p class="jc-bottom-text-holiday">Please note, only one discount code can be applied per order.</p>

    </div>
  </div>
</div>
