<!-- /templates/page.liquid -->
<div class="vertical-section-contact wf-section">
  <div class="vertical-section-inner">
    <!--<div class="heading-container-contact">
      <h1 class="jc-section-heading">Sign Up & Start Saving</h1>
    </div>
    <div class="text-container-contact">
      <p class="jc-hero-text-contact">Get your 20% off discount code when you join our exclusive SMS club!</p>
    </div>-->
    <div class="klaviyo-form-Snhmd4"></div>
  </div>
</div>