<div class="jc-hero-vet">
    <div class="jc-hero-content-wrapper-vet">
      <div class="vet-wrapper-inner">
        <div class="jc-hero-img-wrapper-vet"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-veterans_AST_flag.svg?v=1658771884" alt="U.S Flag" width="375" class="jc-hero-img-vet"></div>
        <h1 class="jc-section-heading jc-section-heading-shift">Veteran Discount</h1>
        <p class="jc-hero-text-vet">As a veteran owned company, we’re proud to offer a <strong>25%</strong> discount as a token of gratitude for those who have served our country!</p>
        <h2 class="vet-save-text">Save 25%</h2>
        <div class="jc-hero-btn-wrapper-vet">
          <div class="jc-medium-btn-section">
            <button class="vfyps_mil jc-hero-btn w-button white">Get Code*</button>
          </div>
        </div>
        <div class="vet-text-wrapper">
          <p class="jc-hero-text-vet-alt">*If you are an active duty military member, we do not recommend consuming our products. Please consult with your employer before use.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="jc-how-it-works-hero vet">
    <div class="jc-content-wrapper-works">

      <div class="jc-row-works w-row vet">
        <div class="w-col w-col-8 w-col-small-8 w-col-tiny-tiny-stack how-it-works-col">
          <div class="jc-col-inner-works">
            <h2 class="jc-main-heading medium">How It Works</h2>
            
            
            <div class="jc-receptor-section-works">
              <div class="jc-content-block-works">
                <div class="jc-content-flex-row-works start">
                  <img class="number-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-referrals_AST_1.svg?v=1658771884">
                  <p class="jc-content-text-works">Click "Get Code" above and create a VerifyPass account; VerifyPass will keep your personal information private and secure.</p>
                </div>
              </div>

              <div class="jc-content-block-works">
                <div class="jc-content-flex-row-works start">
                  <img class="number-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-referrals_AST_2.svg?v=1658771884">
                  <p class="jc-content-text-works">After verification, you’ll receive a one-time discount code to apply during checkout. You'll only be asked to verify your documents the first time you create a VerifyPass account.</p>
                </div>
              </div>

              <div class="jc-content-block-works">
                <div class="jc-content-flex-row-works start">
                  <img class="number-img" src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-referrals_AST_3.svg?v=1658771884">
                  <p class="jc-content-text-works">For future purchases, return to this page and repeat Step 1 or click the “Veteran Discount” button in your cart. (Limit 1 code per day.)</p>
                </div>
              </div>

              



              <div class="jc-disclaimer-text-works-wrapper-vet">
                <p class="jc-disclaimer-text-works vet">Coupons, discounts, rewards redemptions, and auto ship offers cannot be combined.</p>
              </div>
            </div>
          </div>
          
        </div>
    </div>
    {% comment %}
    <div class="jc-section-location-text jc-section-location-text-works">Estes Park, CO</div>
    {% endcomment %}
  </div>



  {% comment %}
  <div class="jc-faq-section-vet">
    <div class="jc-faq-content-wrapper-vet">
      <h3 class="jc-section-heading">FAQ&#x27;<span class="jc-vet-faq-heading-alt">s</span></h3>
      <div class="jc-faq-page-content-wrapper-vet">
        <div class="jc-faq-page-content-block">
          <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
            <div class="jc-faq-page-content-heading">How Often Can I Use This Code?</div>
            <div class="jc-faq-page-open-btn">+</div>
          </div>
          <div class="jc-faq-page-expand-wrapper">
            <div class="jc-faq-page-expand-block">
              <p class="jc-faq-page-expand-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
          </div>
        </div>
        <div class="jc-faq-page-content-block">
          <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
            <div class="jc-faq-page-content-heading">Can My Spouse Order Using This Discount?</div>
            <div class="jc-faq-page-open-btn">+</div>
          </div>
          <div class="jc-faq-page-expand-wrapper">
            <div class="jc-faq-page-expand-block">
              <p class="jc-faq-page-expand-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
          </div>
        </div>
        <div class="jc-faq-page-content-block">
          <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
            <div class="jc-faq-page-content-heading">How Do I Verify My Service?</div>
            <div class="jc-faq-page-open-btn">+</div>
          </div>
          <div class="jc-faq-page-expand-wrapper">
            <div class="jc-faq-page-expand-block">
              <p class="jc-faq-page-expand-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endcomment %}
<style>
  .fixed-top-wrapper{
    background-color: transparent;
  }
</style>