<div class="sk-wrapper our-hemp-main wf-section">
  <div class="sk-img-wrapper mobile-center">
    <div class="sk-hero-content-wrapper our-hemp">
      <h1 class="jc-section-heading left mobile-center">The Difference in<br> Our Hemp</h1>
    </div>
  </div>
</div>



<div class="wrapper-outter mobile-only our-hemp">
  <div class="guarentee-wrapper">
    {%comment%}
      <div class="jc-risk-content-wrapper full with-padding">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-our_hemp_AST_organic-hemp.jpg?v=1658513112" alt="60 Day Guarantee" class="jc-risk-free-img-big">
      </div>
      {%endcomment%}
      <div class="jc-risk-content-wrapper text">
        <div class="logo-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-our_hemp_AST_USDA_icon.svg?v=1658513112" loading="lazy" alt="" class="our-hemp-logo">
        </div>
        <div class="guarentee-text-wrapper">
            <h1 class="jc-section-heading">Organically grown, under the sun.</h1>
        </div>
        <p class="paragraph-text">R&R pioneered the hemp industry as one of the first brands to earn the USDA Organic Certification in 2019, and we infuse our proprietary Organic extracts in all of our products. Our own mothers use our products, so quality is paramount!</p> 
      </div>
  </div>
</div>


<div class="image-and-text white wf-section our-hemp">
  <div class="wrapper-inner alt row">
    <div class="image-and-text-right-our-hemp">
      <div class="our-hemp-img-1"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-our_hemp_AST_organic-hemp.jpg?v=1658513112" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-our_hemp_AST_organic-hemp.jpg?v=1658513112 500w" sizes="(max-width: 479px) 83vw, (max-width: 767px) 72vw, 42vw" alt=""></div>
    </div>
    <div class="image-and-text-left our-hemp">
      {%- comment -%}
        <div class="logo-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-our_hemp_AST_USDA_icon.svg?v=1658513112" loading="lazy" alt="" class="our-hemp-logo">
        </div>
      {%- endcomment -%}
      <h2 class="jc-col-heading-works">Organically grown,<br> under the sun.</h2>
      <div class="paragraph-text-width-container">
        <p class="paragraph">R&R pioneered the hemp industry as one of the first brands to earn the USDA Organic Certification in 2019, and we infuse our proprietary Organic extracts in all of our products. Our own mothers use our products, so quality is paramount!</p>
      </div>
    </div>
  </div>
</div>



<div class="vertical-section our-hemp smoke wf-section">
  <div class="vertical-section-inner">
    <div class="logo-wrapper margin-bottom"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/Local_Icon.svg?v=1661450197" loading="lazy" alt="" class="our-hemp-logo"></div>
    <div class="heading-container">
      <h2 class="jc-col-heading-works mobile-center">Locally and Mindfully Sourced</h2>
    </div>
    <div class="paragraph-width-container">
      <p class="paragraph-center">Working directly with our local farming partners allows us to carefully select and grow the highest quality hemp strains. We take pride in supporting our community partners around us and are able to offer affordable prices to you because of these carefully cultivated relationships. </p>
    </div>
  </div>
</div>





<div class="wrapper-outter mobile-only">
  <div class="guarentee-wrapper our-hemp">
      <div class="jc-risk-content-wrapper full with-padding">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-our_hemp_AST_puddle.png?v=1658513112 500w" alt="Supercritical CO2 Extraction" class="jc-risk-free-img-big">
      </div>
      <div class="jc-risk-content-wrapper text">
        <div class="guarentee-text-wrapper">
            <h1 class="jc-section-heading">Supercritical CO2 Extraction</h1>
        </div>
        <p class="paragraph-text">Our supercritical CO2 extraction process retains the vast number of phytonutrients, terpenes, antioxidants, and flavonoids in our proprietary hemp strains that are typically lost in other extraction methods. This allows us to yield over 9 cannabinoids and 11 terpenes - an unmatched level in the industry. This full profile of active compounds ensures the strong performance of our products and promotes the “entourage effect,” of all the phytonutrients working together. </p> 
      </div>
  </div>
</div>

<div class="image-and-text our-hemp wf-section">
  <div class="wrapper-inner">
    <div class="image-and-text-right-our-hemp">
      <div class="image-and-text-heading-wrapper">
        
          <h2 class="jc-col-heading-works">Supercritical CO2<br>Extraction</h2>
        
      </div>
      <p class="paragraph-text">Our supercritical CO2 extraction process retains the vast number of phytonutrients, terpenes, antioxidants, and flavonoids in our proprietary hemp strains that are typically lost in other extraction methods. This allows us to yield over 9 cannabinoids and 11 terpenes - an unmatched level in the industry. This full profile of active compounds ensures the strong performance of our products and promotes the “entourage effect,” of all the phytonutrients working together. </p>
    </div>
    <div class="image-and-text-left">
      <div class="image-and-text-img-right-our-hemp"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-our_hemp_2_AST_oil_puddle.png?v=1660064016 500w" sizes="(max-width: 479px) 83vw, (max-width: 767px) 72vw, 46vw" alt=""></div>
    </div>
  </div>
</div>


<div class="sk-wrapper our-hemp wf-section">
  <div class="sk-img-wrapper-2"></div>
</div>

<div class="vertical-section our-hemp wf-section">
  <div class="vertical-section-inner">
    <div class="logo-wrapper"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-our_hemp_AST_R_R_icons.svg?v=1658513112" loading="lazy" alt="" class="quality-logos"></div>
    <div class="heading-container">
      <h2 class="jc-col-heading-works mobile-center">How Do We Verify Quality & Safety?</h2>
    </div>
    <div class="paragraph-width-container-880">
      <p class="paragraph-center">We rigorously test every batch of product with third-parties to ensure our standards of quality and safety are met. We conduct all of our testing with SC Labs, Botanacor Labs, and Columbia Labs. Take comfort in knowing that we operate an FDA registered facility and are registered with the Colorado Department of Public Health and Environment (CDPHE).</p>
    </div>
    <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/pages/lab-testing" class="jc-medium-btn less-padding w-button">Explore LAb testing</a></div>
  </div>
</div>


<style>
  .fixed-top-wrapper{
    background-color: transparent;
  }
</style>