<!-- /templates/collection.liquid -->
{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid


{% section 'collection-template' %}
{% endcomment %}

<div class="jc-products-mid-wrapper">
  




    
  
  <div class="collection-menu-wrapper-outter">
    <div class="collection-menu-wrapper holiday">
  
  {%comment%}
      <a href="https://www.rrmeds.com/pages/holiday" class="collection-menu-link large w--current">
        <h4 class="collection-link-text" >Holiday Deals</h4>
      </a>
      {%endcomment%}
      <a href="/collections/all-products" class="collection-menu-link large">
      <h4 class="collection-link-text" >All Products</h4>
      </a>
      <a href="/collections/tinctures" class="collection-menu-link">
        <h4 class="collection-link-text" >tinctures</h4>
      </a>
      <a href="/collections/gummies" class="collection-menu-link">
      <h4 class="collection-link-text" >Gummies</h4>
      </a>
      <a href="/collections/softgels" class="collection-menu-link">
        <h4 class="collection-link-text" >softgels</h4>
      </a>
      <a href="/collections/cbd-pain-creams" class="collection-menu-link">
      <h4 class="collection-link-text" >Pain Creams</h4>
      </a>
      <a href="/collections/pet-products" class="collection-menu-link">
        <h4 class="collection-link-text" >For Pets</h4>
      </a>
      <a href="/collections/thc-free-products" class="collection-menu-link">
        <h4 class="collection-link-text" >THC Free</h4>
      </a>
      <a href="#" class="collection-menu-link large summit-btn">
        <h4 class="collection-link-text" >Delta-9, HHC, & Delta-8</h4>
      </a>
  
      <div class="full-width-underline"></div>
    </div>
  </div>
    
  
      
      <div class="jc-container-large-double">
  
  
        {% section 'sk-product-holiday' %}
  
    
      </div>
  
      
      <div class="jc-disclaimer-wrapper-products grey">
        {% section 'jc-disclaimer-grey' %}
      </div>
      
    </div>
  
    {% section 'jc-newsletter' %}
    <style type="text/css">
  
    #jc-nav-link-products {
  
      color:#7a0805;
  
    }
  
    @media (max-width: 991px) { 
      #jc-nav-link-products {
  
        color:#ffffff;
  
      }
    }
  
    </style>