
{% section 'jc-hero-section-wholesale.liquid'%}

<div class="vertical-section smoke wf-section">
  <div class="vertical-section-inner wholesale">

    <div class="jc-hero-icon-row-sub w-row">
      <div class="jc-hero-icon-col-qc w-col w-col-3 w-col-small-6">
        <div class="jc-hero-icon-col-inner-qc"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-wholesale_AST_markup_icon.svg?v=1658878180" alt="Sales Tag" class="jc-hero-icon-img-qc large">
          <h4 class="sk-small-header">Over 100%</br>
            Markup</h4>
        </div>
      </div>
      <div class="jc-hero-icon-col-qc w-col w-col-3 w-col-small-6">
        <div class="jc-hero-icon-col-inner-qc"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-wholesale_AST_min_order_icon.svg?v=1658878180" alt="Box with Arrows" class="jc-hero-icon-img-qc">
          <h4 class="sk-small-header">Minimum Order</br>
            Amount of $150</h4>
        </div>
      </div>
      <div class="jc-hero-icon-col-qc w-col w-col-3 w-col-small-6">
        <div class="jc-hero-icon-col-inner-qc"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-wholesale_AST_portal_icon.svg?v=1658878180" alt="Calendar" class="jc-hero-icon-img-qc">
          <h4 class="sk-small-header">Order Anytime With</br>
            Our Online Portal</h4>
        </div>
      </div>
      <div class="jc-hero-icon-col-qc w-col w-col-3 w-col-small-6">
        <div class="jc-hero-icon-col-inner-qc"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-wholesale_AST_30day_icon.svg?v=1658878180" alt="Skip, Pause, or Cancel" class="jc-hero-icon-img-qc">
          <h4 class="sk-small-header">30-Day Money</br>
            Back Guarantee</h4>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="vertical-section wholesale wf-section">
  <div class="vertical-section-inner">
    <div class="heading-container-wholesale">
      <h2 class="jc-col-heading-works center">If you’re interested in carrying R&R, please fill out the brief application below. </h2>
    </div>
    <p class="paragraph-center">Contact us at <a class="jc-faq-expand-text-link" href = "mailto: wholesale@rrmeds.com">wholesale@rrmeds.com</a> or call/text us at (303) 536-1792 with any questions.</br></br>

      También hablamos Español!</br></br>
      
      Existing retail partner? <a class="jc-faq-expand-text-link" href="https://wholesale.rrmeds.com/">Click here</a> for our Wholesale Portal.</p>
    <div class="jc-medium-btn-section"><a href="https://www.rrmeds.com/pages/wholesale#wholesale-form" class="jc-medium-btn wholesale w-button">fill out the wholesale regestration form</a></div>
  </div>
</div>

<div class="wrapper-outter mobile-only faq-2">
  <div class="guarentee-wrapper">
      <div class="jc-risk-content-wrapper full with-padding wholesale-referral">
          
        <div class="jc-risk-content-wrapper text">
          <div class="guarentee-text-wrapper">
              <h1 class="jc-section-heading">Wholesale Referrals</h1>
          </div>
          <p class="paragraph-text">Do you want to see R&R at your local grocer, wellness store, spa, gym, doctor’s office, or pet store? Send us the name of the business, a point of contact, and an email address or phone number, 
            and <strong>we’ll send you a FREE six month supply of your favorite product</strong> when the location places their first wholesale order. Please contact us at <a class="jc-faq-expand-text-link" href = "mailto: wholesale@rrmeds.com">wholesale@rrmeds.com</a> or call/text us at <strong>(303) 536-1792</strong> with the information!</p> 
        </div>
      </div>
  </div>
</div>


<div class="wrapper-outter mobile-only faq wholesale">
  <div class="guarentee-wrapper">
      <div class="jc-risk-content-wrapper full with-padding">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-wholesale_2_AST_refferals.jpg?v=1660065079 500w" alt="Supercritical CO2 Extraction" class="jc-risk-free-img-big">
      </div>
      <div class="jc-risk-content-wrapper text">
        <div class="guarentee-text-wrapper">
            <h1 class="jc-section-heading">Wholesale Referrals</h1>
        </div>
        <p class="paragraph-text">Do you want to see R&R at your local grocer, wellness store, spa, gym, doctor’s office, or pet store? Send us the name of the business, a point of contact, and an email address or phone number, 
          and <strong>we’ll send you a FREE six month supply of your favorite product</strong> when the location places their first wholesale order. Please contact us at <a class="jc-faq-expand-text-link" href = "mailto: wholesale@rrmeds.com">wholesale@rrmeds.com</a> or call/text us at <strong>(303) 536-1792</strong> with the information!</p> 
      </div>
  </div>
</div>





<div class="image-and-text smoke wf-section wholesale">
  <div class="wrapper-inner alt row">
    <div class="image-and-text-right">
      <div class="our-hemp-img-1"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-wholesale_2_AST_refferals.jpg?v=1660065079" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-wholesale_2_AST_refferals.jpg?v=1660065079 500w" sizes="(max-width: 479px) 83vw, (max-width: 767px) 72vw, 42vw" alt=""></div>
    </div>
    <div class="image-and-text-left padding-right">
      <h1 class="jc-main-heading medium">Wholesale<br> Referrals</h1>
      <div class="wholesale-text-width">
        <p class="paragraph-text">Do you want to see R&R at your local grocer, wellness store, spa, gym, doctor’s office, or pet store? Send us the name of the business, a point of contact, and an email address or phone number, 
          and <strong>we’ll send you a FREE six month supply of your favorite product</strong> when the location places their first wholesale order. Please contact us at <a class="jc-faq-expand-text-link" href = "mailto: wholesale@rrmeds.com">wholesale@rrmeds.com</a> or call/text us at <strong>(303) 536-1792</strong> with the information!</p>
      </div>
    </div>
  </div>
  
</div>



<div  id="wholesale-form"></div>
<div class="wholesale-form-heading-container">
  <h1 class="jc-main-heading-wholesale">Wholesale
    Registration Form</h1>
  
  <p class="paragraph-text center">If you’re interested in carrying R&R, please fill out the brief application below:</p>
</div>

    <div class="jc-hero-block-wholesale jc-hero-block-wholesale-bottom">
      {% comment %}
      <h2 class="jc-hero-heading-wholesale">Wholesale Registration</h2>
      <p class="jc-hero-text-wholesale">Are you interested in carrying R&R Medicinals products? Please fill out the form below to get started.</p>
      {% endcomment %}
      <div class="jc-form-block-wholesale">

        <script type="text/javascript" src="https://form.jotform.com/jsform/202944625108050"></script>

        {% comment %}
        {% form 'contact' %}
          {% if form.posted_successfully? %}
            <div class="jc-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
          {% else %}
          <div class="jc-form-row w-row">
            <div class="jc-form-col w-col w-col-6">
              <input type="text" class="jc-form-input w-input" maxlength="256" name="contact[name]" data-name="Name" placeholder="Name*" id="name" required="">
            </div>
            <div class="jc-form-col w-col w-col-6">
              <input type="email" class="jc-form-input w-input" maxlength="256" name="contact[email]" data-name="Email" placeholder="Email Address*" id="email" required="">
            </div>
          </div>
          <div class="jc-form-row jc-form-row-no-margin w-row">
            <div class="jc-form-col w-col w-col-6">
              <input type="text" class="jc-form-input w-input" maxlength="256" name="contact[Business-Name]" data-name="Business Name" placeholder="Business Name*" id="Business-Name" required="">
            </div>
            <div class="jc-form-col w-col w-col-6">
              <input type="text" class="jc-form-input w-input" maxlength="256" name="contact[Phone-Number]" data-name="Phone Number" placeholder="Phone Number*" id="Phone-Number" required="">
            </div>
          </div>
          <div class="jc-form-input-wrapper jc-form-input-wrapper-no-margin">
            <input type="text" class="jc-form-input w-input" maxlength="256" name="contact[Website]" data-name="Website" placeholder="Website*" id="Website" required="">
          </div>
          <div class="jc-form-row w-row">
            <div class="jc-form-col w-col w-col-6">
              <select id="Currently-Sell-Hemp-Extract-Products" name="contact[Currently-Sell-Hemp-Extract-Products]" required="" data-name="Currently Sell Hemp Extract Products" class="jc-form-input w-select">
                <option value>Do you currently sell hemp extract products?*</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="jc-form-col w-col w-col-6">
              <input type="text" class="jc-form-input w-input" maxlength="256" name="contact[EIN-Number]" data-name="EIN Number" placeholder="EIN Number" id="EIN-Number">
            </div>
          </div>
          <div class="jc-form-input-wrapper">
            <input type="text" class="jc-form-input w-input" maxlength="256" name="contact[Industry]" data-name="Industry" placeholder="Industry*" id="Industry" required="">
          </div>
          <div class="jc-form-input-wrapper">
            <textarea placeholder="How did you hear about us?*" maxlength="5000" id="How-did-you-hear-about-us" name="contact[How-did-you-hear-about-us]" required="" data-name="How did you hear about us" class="jc-form-input jc-form-input-area w-input"></textarea>
          </div>
          <div class="jc-form-input-wrapper">
            <textarea data-name="Where will you sell our products" maxlength="5000" id="Where-will-you-sell-our-products" name="contact[Where-will-you-sell-our-products]" required="" placeholder="Where will you sell our products?*" class="jc-form-input jc-form-input-area w-input"></textarea>
          </div>
          <div class="jc-form-input-wrapper">
            <textarea placeholder="What product[s] and quantities are you interested in?*" maxlength="5000" id="What-products-and-quantities-are-you-interested-in" name="contact[What-products-and-quantities-are-you-interested-in]" required="" data-name="What products and quantities are you interested in" class="jc-form-input jc-form-input-area w-input"></textarea>
          </div>
          <div class="jc-form-btn-wrapper">
            <input type="submit" value="Submit" data-wait="Please wait..." class="jc-account-btn-wholesale w-button">
          </div>
          <div class="jc-form-disclaimer-wrapper">
            <p class="jc-form-disclaimer-text-wholesale">*Required field</p>
            <p class="jc-form-disclaimer-text-wholesale">All information will be kept confidential.</p>
          </div>
          {% endif %}
        {% endform %}

        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
        {% endcomment %}


      </div>
    </div>
  </div>
  
  <style>
    .fixed-top-wrapper{
      background-color: transparent;
    }
  </style>