{% section 'jc-hero-section-faq' %}

  
  <div class="jc-hero-wrapper-faq">
    <div class="jc-hero-block-faq">
      <div class="jc-hero-heading-wrapper-faq">
        <h1 class="jc-hero-heading-faq">How can we help?</h1>

      </div>
      <div data-duration-in="300" data-duration-out="100" class="w-tabs">
        
        <div class="jc-tabs-menu-faq w-tab-menu">
          <a data-w-tab="Tab 1" class="jc-tab-menu-link-faq w-inline-block w-tab-link w--current">
            <h4 class="jc-product-section-heading no-margin large" >CBD 101</h4>
          </a>
          <a data-w-tab="Tab 2" class="jc-tab-menu-link-faq w-inline-block w-tab-link">
            <h4 class="jc-product-section-heading no-margin xxlarge" >Ordering & Shipping</h4>
          </a>
          <a data-w-tab="Tab 3" class="jc-tab-menu-link-faq w-inline-block w-tab-link">
            <h4 class="jc-product-section-heading no-margin xxlarge" >Quality & Safety</h4>
          </a>
          <div class="full-width-underline"></div>
        </div>


        <div class="w-tab-content">

          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
            <div class="tab-content-inner-faq">
              <div class="jc-faq-page-content-wrapper">
                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">What is full and broad spectrum hemp extract?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">

                      <div class="jc-faq-page-expand-heading">Full-Spectrum Hemp Extract</div>
                      <p class="jc-faq-page-expand-text">We characterize our active ingredient as "Full-Spectrum Hemp Extract", as our products contain a Full-Spectrum of cannabinoids (much more than just CBD), like CBN, CBC, CBL, CBD-V, THC, etc. Our extract includes a host of terpenes, antioxidants, amino acids, flavonoids, and phytonutrients. Unlike many of our competitors, we do not utilize any isolates (a single cannabinoid) in our products, but rather rely on the naturally occuring, full profile of cannabinoids in our proprietary Cherry strain of USDA certified organic hemp. This keeps all of the compounds intact to ensure users benefit from what's called the "Entourage Effect" of all of the compounds working in harmony, as nature designed them to be. You can always view the full test results of any batch of every product on our <a href="/pages/lab-testing" class="jc-faq-page-expand-text-link">Lab Testing</a> page. All of our Full-Spectrum oil used in any of our products is USDA certified organic!</p>

                      <div class="jc-faq-page-expand-heading">Broad-Spectrum Hemp Extract</div>
                      <p class="jc-faq-page-expand-text">Through a USDA organic certified process, we remediate our Full-Spectrum oil to remove the THC, so you’re still getting a robust profile of cannabinoids, terpenes, antioxidants, amino acids, and more. Our Broad Spectrum Extract still includes the cannabinoids like CBN, CBC, CBL, CBD-V, though it tests at 0.0% THC. Unlike other companies that combine two isolates and market it as “Broad Spectrum,” we truly deliver a full profile of nutrients, minus the THC. You can always view the full test results of any batch of every product on our <a href="/pages/lab-testing" class="jc-faq-page-expand-text-link">Lab Testing</a> page. All of our Broad-Spectrum oil used in any of our products is USDA certified organic!</p>

                    </div>
                  </div>
                </div>
                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">What product should I start with?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">We recommend starting with our 1000mg tincture as a great place to start. It is our middle strength offering, and based on your results, you can either scale down, or scale up your serving size. From here, you can decide whether the 500mg, 1000mg, or 2500mg is best for you. Alternatively, if you prefer not to taste the product, you can give the softgels a try!</p>
                    </div>
                  </div>
                </div>
                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">How much should I take?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">Dosage guidelines are product specific. Follow the directions listed on your product label or select the &quot;directions&quot; tab on the product page.</p>
                    </div>
                  </div>
                </div>
                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">When do I take it?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">As your experience with our hemp extract will be unique to you, we recommend following our suggested serving instructions and testing different methods of dosing. Consistency is absolutely key, and we suggest taking 1-2 servings daily to allow the extract to gradually build in your system. We encourage you to test a variety of times to take your extract and track your performance to find your individual "sweet spot" to best serve your needs. Please keep in mind, it may take up to 5 days of consistent use to begin noticing effects of our extract as your body acclimates to our product.</p>
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">How does hemp work in the body?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">Check out our &quot;How Hemp Works&quot; section: <a href="/pages/how-hemp-works" class="jc-faq-page-expand-text-link">rrmeds.com/pages/how-hemp-works</a></p>
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">What if I'm not noticing any effects?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">Not to worry! Everyone responds a bit differently to our hemp extract, and you may simply need a larger dose than others. You may be what we call a &quot;high responder.&quot;  This means your body needs a higher dose than other people, and this is not uncommon.  For this, we recommend increasing your dose gradually until a desired effect is achieved. Beyond this, we suggest trying a stronger potency product from our offerings. </p>
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">Does hemp extract have THC? Will I test positive on a drug test?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">Hemp extract may naturally contain trace amounts of THC, as they are innate to the plant in trace levels. We third party test all of our finished products to ensure that they fall below the federal threshold set for THC. We use a Full-Spectrum extract from hemp that keeps all of the phytonutrients in-tact to ensure users benefit from what's called the "entourage effect" of all of the compounds working in harmony, as nature designed them to be.</p>

                      <p class="jc-faq-page-expand-text">Similar to how consuming too many poppy seeds may result in a positive test for opiates, consuming certain hemp-derived products may also lead to a positive test result for THC. This is why we are transparent about trace levels of THC in our Full-Spectrum products on our product labels and product pages on our website. As the chemistry and breakdown of compounds in hemp is still being researched, there is a possibility that the bodily conversion of these compounds and the possibility of trace, but legal amounts of THC inherent in hemp products, could cause a positive test result.</p>

                      <p class="jc-faq-page-expand-text">Consult your healthcare provider and employer before consuming any hemp derived product, as trace amounts of THC may lead to a positive test result. </p>
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">Can I test positive on a drug test with Broad Spectrum (THC Free)?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">All of our broad-spectrum CBD products test to 0.0% THC from ISO accredited labs, and these test results are available to our customers at any time on our website. With that said, there are a multitude of different tests and methodologies in drug testing, and we cannot guarantee that other cannabinoids may cause issues with drug testing. Ultimately, that decision is up to each individual, but we typically advise our customers to steer clear of any CBD product if they are subject to testing. In an effort to be transparent with our customers, you’ll see this warning on all of our labels as well.</p>
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">What's the difference between your pet and human formula?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">Our Pet Tincture formula utilizes a blend of Full Spectrum and THC-Free extracts to effectively reduce THC values below the trace amounts present in our Full Spectrum products. Too much THC can be nauseating for pets, though a small amount is thought to be beneficial, especially considering the physical and psychological effects.</p>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div> <!-- /////////// END  Tab 1 END ///////// -->

          <div data-w-tab="Tab 2" class="w-tab-pane">
            <div class="tab-content-inner-faq">
              <div class="jc-faq-page-content-wrapper">
                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">How do I know my R&R CBD product is authentic?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">As our brand grows, we continue to experience malicious resellers offering counterfeit R&R CBD products. To ensure your order is filled with authentic products, only order from our Seller name, "The Hemp Oil Store" on Amazon.com, or via www.rrmeds.com directly.</p>
                    </div>
                  </div>
                </div>
                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">Why purchase on your site and not Amazon.com or Ebay?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">While some of our products are offered on Amazon and Ebay, we recommend purchasing directly from us because it ensures you are getting an authentic product and eliminates the chance of receiving a counterfeit product from an unauthorized reseller.</p>
                  
                      <p class="jc-faq-page-expand-text">At <a href="/" class="jc-faq-page-expand-text-link">rrmeds.com</a>, we also offer more competitive pricing than Amazon (excluding certain promotions) plus free shipping on U.S. subscription orders and on U.S. orders of $60 or more.</p>
                    
                      <p class="jc-faq-page-expand-text">We also really appreciate it, because it directly supports our small business instead of going through a third-party!</p>
                      <p class="jc-faq-page-expand-text">For our standard shipping, please allow 1-2 business days to process the order, then 3-7 business days for the product to arrive (total time approximately 1 week). You may track your shipment through the shipping confirmation email received after your purchase; simply click the link with the tracking info provided. Shipping speeds will vary for international orders.</p>
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">How long does my product take to ship?  How can I track the package?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">For our standard free shipping, please allow 1-2 business days to process the order, then 3-7 business days for the product to arrive (total time approximately 1 week). You may track your shipment through the shipping confirmation email received after your purchase; simply click the link with the tracking info provided. Shipping speeds will vary for international orders.</p>
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">How do I access my account, or change my password?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">You can view your account by visiting <a href="/account" class="jc-faq-page-expand-text-link">https://www.rrmeds.com/account</a> or clicking on the &quot;My Account&quot; link in the footer.  To change your password, or if you forgot it, simply click the &quot;Forgot Password&quot; link on the login page, and follow the instructions to reset it. </p>
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">How can I view my order history?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">You can view your order history by visiting <a href="/account" class="jc-faq-page-expand-text-link">https://www.rrmeds.com/account</a></p>
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">How do I get a refund or replacement?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">To utilize our 60-day guarantee on our products, please go through our return portal at <a href="/a/returns" class="jc-faq-page-expand-text-link">https://www.rrmeds.com/a/returns</a> and follow the instructions provided.</p>
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">How do I cancel or modify my order after it's been placed?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">
                        If your order hasn't shipped and you need to cancel the order or modify it (or change the address), reach out to us directly at <a href="mailto:contact@rrmeds.com" class="jc-faq-page-expand-text-link">contact@rrmeds.com</a> and we will attempt to make the change prior to shipping. If it has already shipped, please use our return process to receive a full refund (less return shipping) through <a href="/a/returns" class="jc-faq-page-expand-text-link"> https://www.rrmeds.com/a/returns</a>.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">I'm interested in retailing R&R products, how do I get started with wholesale purchasing?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">Please fill out our form at <a href="/pages/wholesale" class="jc-faq-page-expand-text-link">https://www.rrmeds.com/pages/wholesale</a>. Please note, we never authorize any resale on Amazon, and only allow resale on other e-commerce sites on a case by case basis. </p>
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">How do I manage my Subscribe & Save subscription?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">
                        We offer Subscribe & Save without a long-term commitment! We give you the ability to swap out products, skip an order, or cancel at any time. You can manage your subscription by clicking <a href="https://www.rrmeds.com/tools/checkout/api/manage/subscription/app" class="jc-faq-page-expand-text-link">here</a> or by clicking the "Manage Subscription" button on your account page. If you don't have an rrmeds.com account and you do not want to create one, please email us at <a href="mailto:contact@rrmeds.com" class="jc-faq-page-expand-text-link">contact@rrmeds.com</a> for any adjustments or questions about your Subscribe & Save subscription.


                      </p>
                    </div>
                  </div>
                </div>

                {%comment%}
                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">What is ViaBill?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">ViaBill is a payment solution that gives shoppers the opportunity to buy now and pay later in easy equal monthly installments, interest-free.</p>
                      <ul class="jc-faq-page-expand-list">
                        <li>No credit checks required.</li>
                        <li>Instantly approved in the checkout flow.</li>
                        <li>You’re charged 25% of your total purchase on your card upon checkout and you pay us the rest later, 25% every following month.</li>
                      </ul>
                      
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">Does ViaBill charge interest or fees?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">ViaBill charges no interest or mandatory fees.</p>
                      
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">How do I sign up for ViaBill?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">You can sign up during the checkout process  – simply choose ViaBill as your payment method. For the initial sign up we will just need your email, phone number, and a credit/debit card. You’ll instantly know if you are approved!</p>
                      <p class="jc-faq-page-expand-text">In order to use ViaBill you must:</p>
                      <ul class="jc-faq-page-expand-list">
                        <li>Be at least 18 years old</li>
                        <li>Have a valid and verifiable mobile number</li>
                        <li>Use a US credit card to make a purchase</li>
                      </ul> 
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">What information does ViaBill collect?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">For the initial signup, we only need your email, mobile number, and credit/debit card. After that, we simply need you to re-enter your email and verify it by mobile number to make a future purchase through ViaBill. </p>
                    </div>
                  </div>
                </div>
                {%endcomment%}
                
                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">What is your shipping policy?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">We ship to every state in the U.S. and many other countries. We offer free shipping on all U.S. subscription orders and on U.S. orders that are $60 or more. U.S. orders below $60 incur a $7 shipping fee. We charge a $30 flat fee for international shipping.</p>
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">Which countries do you ship to? </div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">We’re proud to ship our premium CBD products to many locations across the world.</p>
                      <br/>
                      <p class="jc-faq-page-expand-text">Here’s a complete list of the countries we currently ship to: </p>
                      <ul>
                        <li>Australia</li>
                        <li>Bulgaria</li>
                        <li>Czechia</li>
                        <li>Denmark</li>
                        <li>Finland</li>
                        <li>France</li>
                        <li>Germany</li>
                        <li>Greece</li>
                        <li>Hungary</li>
                        <li>Ireland</li>
                        <li>Israel</li>
                        <li>Italy</li>
                        <li>Latvia</li>
                        <li>Luxembourg</li>
                        <li>New Zealand</li>
                        <li>Norway</li>
                        <li>Poland</li>
                        <li>Portugal</li>
                        <li>Romania</li>
                        <li>Switzerland</li>
                        <li>UK</li>
                        <li>United States</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">What methods do you use to ship internationally?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">Below are the ship methods we use by country:</p>
                      <p class="jc-faq-page-expand-text"><strong>USPS</strong></p>
                      <ul>
                        <li>Israel</li>
                        <li>France</li>
                      </ul>
                      <p class="jc-faq-page-expand-text"><strong>Global Post</strong></p>
                      <ul>
                        <li>Australia</li>
                        <li>Bulgaria</li>
                        <li>Czechia</li>
                        <li>Denmark</li>
                        <li>Finland</li>
                        <li>Germany</li>
                        <li>Greece</li>
                        <li>Hungary</li>
                        <li>Ireland</li>
                        <li>Italy</li>
                        <li>Latvia</li>
                        <li>Luxembourg</li>
                        <li>New Zealand</li>
                        <li>Norway</li>
                        <li>Poland</li>
                        <li>Portugal</li>
                        <li>Romania</li>
                        <li>Switzerland</li>
                        <li>United Kingdom</li>
                      </ul>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          </div>
          <!-- /////////// END  Tab 2 END ///////// -->

          <div data-w-tab="Tab 3" class="w-tab-pane">
            <div class="tab-content-inner-faq">
              <div class="jc-faq-page-content-wrapper">
                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">What makes you different?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">Simply put, it's all about our quality, responsible pricing, and customer dedication. We choose and commit to work only with the highest quality hemp growers and partners to create the most pure, high-caliber hemp products possible. We stand behind this, and we will put our products up against anyone else's, anytime. We proudly stand behind our industry unique, 60-day guarantee, so that anyone may put our products to the test, risk-free.</p>

                      <p class="jc-faq-page-expand-text">Beyond this, we're a proudly veteran and employee owned company that has our customers' best interests at heart. We serve our customers, not a group of shareholders. This is why you'll find that our pricing is often less than others. We don't believe there's any reason to gouge customers with ridiculously high pricing that you may have seen with larger brands.</p>

                      <p class="jc-faq-page-expand-text">Our commitment and mantra is to treat our customers like our own mothers. If you ever have questions or concerns about our products, please reach out to us directly at <a href="mailto:contact@rrmeds.com" class="jc-faq-page-expand-text-link">contact@rrmeds.com</a>, and we'll take care of you!</p>
                    </div>
                  </div>
                </div>
                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">Where can I find your lab results?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">

                      <p class="jc-faq-page-expand-text">We third-party test every batch of each product we make. Please find the most current certificate of analysis by visiting the <a href="/pages/lab-testing" class="jc-faq-page-expand-text-link">&quot;Lab Testing&quot;</a> page under the &quot;Learn&quot; menu option. We conduct testing beyond industry standards, as we show results for potency, pesticide presence, heavy metal presence, solvent presence, and microbial analysis.</p>

                    </div>
                  </div>
                </div>
                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">Where do you source your hemp?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">We only source outdoor grown, USDA Certified Organic hemp from our carefully managed growing partners. Take comfort in knowing our USDA Certified Organic farms are local fields that we can actually walk on, not from some random supplier. </p>
                    </div>
                  </div>
                </div>

                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading">How is your hemp processed?</div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">We only use a cold, CO<span class="jc-faq-page-expand-text-sub">2</span> extraction to process our hemp.</p>
                      <p class="jc-faq-page-expand-text">Our CO<span class="jc-faq-page-expand-text-sub">2</span> extraction retains the vast number of phytonutrients, terpenes, antioxidants, and flavonoids in the plant that are otherwise lost in other, more harsh extraction methods. This allows us to maintain the maximum amount of phytonutrients for maximum benefit and the "entourage effect" of the compounds working together. Our three-step filtration process is finished with a 1-micron filtration system, which ensures that any plant particulate is removed from the oil, resulting in a clean and pure product. Beyond this, we utilize a gravity based process and vacuum system to produce our oil, an industry leading practice that is uniquely gentle on the hemp material. This contributes to the high bioavailability that is retained during our proprietary extraction process.</p>
                    </div>
                  </div>
                </div>

                <!--Temporary Gummy FAQ-->
                <div class="jc-faq-page-content-block">
                  <div class="jc-faq-page-content-heading-wrapper" data-ix="faq-page-expand">
                    <div class="jc-faq-page-content-heading" style="line-height:30px;">I noticed the USDA Organic logo was removed from my 30mg Full-Spectrum Gummy Jar. What happened? </div>
                    <div class="jc-faq-page-open-btn">+</div>
                  </div>
                  <div class="jc-faq-page-expand-wrapper">
                    <div class="jc-faq-page-expand-block">
                      <p class="jc-faq-page-expand-text">We’re constantly tweaking our formulas to deliver the most functional, safe, and cost-effective products possible. While our CBD and hemp extract remain USDA-certified organic, due to supply chain shifts we decided to alter some of the other ingredients in our Full-Spectrum Gummies to maintain the same pricing and product availability.</p>
                      <p class="jc-faq-page-expand-text">As always, we feature premium, quality ingredients in all of our products and will continue to do so.</p>
                      <p class="jc-faq-page-expand-text">If you have any further questions, please don’t hesitate to text us at 303-529-7695 or send us an email at contact@rrmeds.com.</p>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% section 'sk-banner-with-text-section-faq' %}
  
  <style>
    .fixed-top-wrapper{
      background-color: transparent;
    }
  </style>
