{%section 'jc-hero-section-auto-ship' %}


<div class="vertical-section smoke wf-section">
  <div class="vertical-section-inner autoship">

    <div class="jc-hero-icon-row-sub w-row">
      <div class="jc-hero-icon-col-qc w-col w-col-3 w-col-small-6">
        <div class="jc-hero-icon-col-inner-qc autoship"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-auto_ship_AST_save_15_icon.svg?v=1658532056" alt="Sales Tag" class="jc-hero-icon-img-qc">
          <h4 class="jc-product-section-heading no-margin">Save 20%</br> On Each Order</h4>
        </div>
      </div>
      <div class="jc-hero-icon-col-qc w-col w-col-3 w-col-small-6">
        <div class="jc-hero-icon-col-inner-qc autoship"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-auto_ship_AST_auto_ship_icon.svg?v=1658532056" alt="Box with Arrows" class="jc-hero-icon-img-qc">
          <h4 class="jc-product-section-heading no-margin">Automatic</br> Product Shipments</h4>
        </div>
      </div>
      <div class="jc-hero-icon-col-qc w-col w-col-3 w-col-small-6">
        <div class="jc-hero-icon-col-inner-qc autoship"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-auto_ship_AST_schedule_icon.svg?v=1658532056" alt="Calendar" class="jc-hero-icon-img-qc">
          <h4 class="jc-product-section-heading no-margin">Set Your</br> Delivery Schedule</h4>
        </div>
      </div>
      <div class="jc-hero-icon-col-qc w-col w-col-3 w-col-small-6">
        <div class="jc-hero-icon-col-inner-qc autoship"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-auto_ship_AST_skip_icon.svg?v=1658532056" alt="Skip, Pause, or Cancel" class="jc-hero-icon-img-qc">
          <h4 class="jc-product-section-heading no-margin">Swap, Skip, Or</br> Cancel Anytime</h4>
        </div>
      </div>
    </div>

  </div>
</div>





<div class="wrapper-outter mobile-only faq">
  <div class="guarentee-wrapper">
      <div class="jc-risk-content-wrapper full with-padding">
          <img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-auto_ship_2_AST_how_it_works.jpg?v=1660061951 500w" alt="Supercritical CO2 Extraction" class="jc-risk-free-img-big">
      </div>
      <div class="jc-risk-content-wrapper text">
        <div class="guarentee-text-wrapper">
            <h1 class="jc-section-heading">How It Works</h1>
        </div>
        <ol>
      
          <li class="paragraph-text">Select the “Subscribe & Save” button on any applicable product page. </li>
            <li class="paragraph-text">Choose your frequency in weeks or months. </li>
            <li class="paragraph-text">Your initial order will be shipped within 2 business days. </li>
            <li class="paragraph-text">Future Subscribe & Save orders will ship based on the frequency you selected.</li>
            <li class="paragraph-text">Get a reminder three days before every upcoming shipment.</li>
            <li class="paragraph-text">You’ll save 20% on every order, plus enjoy free shipping anywhere in the U.S.!</li>
          
        </ol>
      </div>
  </div>
</div>






<div class="image-and-text white wf-section autoship">
  <div class="wrapper-inner alt row">
    <div class="image-and-text-right">
      <div class="our-hemp-img-1"><img src="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-auto_ship_2_AST_how_it_works.jpg?v=1660061951" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0107/7431/5072/files/RR-reskin-auto_ship_2_AST_how_it_works.jpg?v=1660061951 500w" sizes="(max-width: 479px) 83vw, (max-width: 767px) 72vw, 42vw" alt=""></div>
    </div>
    <div class="image-and-text-left padding-right">
      <h1 class="jc-main-heading medium">How It Works</h1>
      <ol>
      
        <li class="paragraph-text">Select the “Subscribe & Save” button on any applicable product page.</li>
          <li class="paragraph-text">Choose your frequency in weeks or months. </li>
          <li class="paragraph-text">Your initial order will be shipped within 2 business days. </li>
          <li class="paragraph-text">Future Subscribe & Save orders will ship based on the frequency you selected.</li>
          <li class="paragraph-text">Get a reminder three days before every upcoming shipment.</li>
          <li class="paragraph-text">You’ll save 20% on every order, plus enjoy free shipping anywhere in the U.S.!</li>
        
      </ol>
    </div>
  </div>
</div>

{% section 'sk-grey-banner-with-text' %}



<div class="jc-faq-wrapper-outer">
  <div class="jc-faq-wrapper">
    <h2 class="jc-main-heading medium center">Still have questions?</h2>
    <div class="jc-faq-content-wrapper">
      <div class="jc-faq-content-block">
        <div class="jc-faq-content-heading-wrapper" data-ix="faq-expand">
          <div class="jc-faq-content-heading">Why should I choose the Subscribe & Save option?</div>
          <div class="jc-faq-open-btn">+</div>
        </div>
        <div class="jc-faq-expand-wrapper">
          <div class="jc-faq-expand-block">
            <p class="jc-faq-expand-text">Our Subscribe & Save subscription is designed to allow you to receive your favorite R&R product(s) without going through the ordering process each time. You'll have the peace of mind knowing your hemp extract will show up at your door when you need it. Plus, you receive a 20% off discount on your initial order and all subsequent orders! You can enjoy our Subscribe & Save program without a long-term commitment. We give you the ability to swap out products, skip an order, or cancel at any time.</p>
          </div>
        </div>
      </div>
      <div class="jc-faq-content-block">
        <div class="jc-faq-content-heading-wrapper" data-ix="faq-expand">
          <div class="jc-faq-content-heading">How do I sign up for Subscribe & Save?</div>
          <div class="jc-faq-open-btn">+</div>
        </div>
        <div class="jc-faq-expand-wrapper">
          <div class="jc-faq-expand-block">
            <p class="jc-faq-expand-text">To subscribe to a product, select the "Subscribe & Save" button on any applicable product page. Once you select the “Subscribe & Save” option, simply choose your frequency, and add to cart.</p>
          </div>
        </div>
      </div>
      <div class="jc-faq-content-block">
        <div class="jc-faq-content-heading-wrapper" data-ix="faq-expand">
          <div class="jc-faq-content-heading">Do I save any money with Subscribe & Save?</div>
          <div class="jc-faq-open-btn">+</div>
        </div>
        <div class="jc-faq-expand-wrapper">
          <div class="jc-faq-expand-block">
            <p class="jc-faq-expand-text">Yes! You save 20% on your initial Subscribe & Save order and 20% on each subsequent order.</p>
          </div>
        </div>
      </div>
      <div class="jc-faq-content-block">
        <div class="jc-faq-content-heading-wrapper" data-ix="faq-expand">
          <div class="jc-faq-content-heading">How do I view, edit, or cancel my Subscribe & Save?</div>
          <div class="jc-faq-open-btn">+</div>
        </div>
        <div class="jc-faq-expand-wrapper">
          <div class="jc-faq-expand-block">
            <p class="jc-faq-expand-text">We offer our Subscribe & Save subscriptions without a long-term commitment! We give you the ability to swap out products, skip an order, or cancel at any time. You can manage your Subscribe & Save subscription by clicking <a href="https://www.rrmeds.com/tools/recurring/login/{%comment%}https://www.rrmeds.com/tools/checkout/api/manage/subscription/app{%endcomment%}" class="jc-faq-page-expand-text-link">here</a>, or by clicking the "Manage Subscription" button on your account page. Don’t have an account? You can create one here using the same email address you used at checkout. If you still need help, text us at 303-529-7695 or send us an email at <a href="mailto:contact@rrmeds.com" class="jc-faq-page-expand-text-link">contact@rrmeds.com</a> for any adjustments or questions about your subscription.</p>
          </div>
        </div>
      </div>
      <div class="jc-faq-content-block jc-faq-content-block-last">
        <div class="jc-faq-content-heading-wrapper" data-ix="faq-expand">
          <div class="jc-faq-content-heading">How long does my product take to ship? How can I track my package?</div>
          <div class="jc-faq-open-btn">+</div>
        </div>
        <div class="jc-faq-expand-wrapper">
          <div class="jc-faq-expand-block">
            <p class="jc-faq-expand-text">Any Subscribe & Save order placed in the U.S. will ship free! If you’re in the U.S., please allow 1-2 days to process the order, then 3-5 days for the product to arrive. You may track your shipment through the shipping confirmation email received after your purchase; simply click the link with the tracking info provided. Shipping speeds will vary for international orders.</p>
          </div>
        </div>
      </div>

    </div>
  </div> <!-- jc-faq-wrapper -->
</div> <!-- jc-faq-wrapper-outer -->






<div class="jc-product-row-wrapper-sub">
  <div class="jc-product-row-container-sub">
  <div class="jc-section-heading-wrapper">
    <h2 class="jc-main-heading medium center">Relaxation, relief, recovery,</br> and
      rejuvenation await.</h2>
  </div>

  {% section 'sk-product-row-auto' %}
  </div>
</div>




<style>
  .fixed-top-wrapper{
    background-color: transparent;
  }
</style>