
<div class="jc-hero-wrapper-holiday">
  <div class="jc-content-block-holiday">
    <div class="jc-section-heading-wrapper">
      <h1 class="jc-section-heading jc-section-heading-holiday"><strong>Holiday Deals</strong></h1>
      <p class="jc-holiday-top-text">Sale Runs Through December 31st</p>
      <div class="jc-section-heading-hr"></div>
      <div class="jc-section-heading-hr jc-section-heading-hr-bottom"></div>
    </div>


    <div class="jc-content-wrapper-holiday">

      <div class="jc-row-holiday w-row">
        <div class="jc-col-holiday jc-col-holiday-border w-col w-col-6">

          <div class="jc-col-inner-holiday">
            <h4 class="jc-col-heading-holiday">1000mg Cream</h4>
            <h5 class="jc-col-sub-heading-holiday">Reduced Price + BOGO 50% Off</h5>
            <img src="//cdn.shopify.com/s/files/1/0107/7431/5072/files/1000mg-cream-min-holiday.jpg" alt="1000mg Cream. Sale $39.99. BOGO 50%" class="jc-col-img-holiday">
            <p class="jc-col-bottom-text-holiday">Code: <span class="jc-col-bottom-text-holiday-alt">BOGOCREAM</span></p>
            <div class="jc-holiday-btn-wrapper">
              <a href="https://rrmeds.com/cart/add?id=37546462740678&quantity=2" class="jc-holiday-btn w-button">Add to Cart</a>
            </div>
          </div>

        </div>
        <div class="jc-col-holiday jc-holiday-border-3 w-col w-col-6">

          <div class="jc-col-inner-holiday">
            <h4 class="jc-col-heading-holiday">5mg Dog Chews</h4>
            <h5 class="jc-col-sub-heading-holiday">BOGO 50% Off</h5>
            <img src="//cdn.shopify.com/s/files/1/0107/7431/5072/files/5mg-dog-chews-min-holiday.jpg" alt="5mg Dog Chews. BOGO 50%" class="jc-col-img-holiday">
            <p class="jc-col-bottom-text-holiday">Code: <span class="jc-col-bottom-text-holiday-alt">BOGOCHEWS</span></p>
            <div class="jc-holiday-btn-wrapper">
              <a href="https://rrmeds.com/cart/add?id=37546665803974&quantity=2" class="jc-holiday-btn w-button">Add to Cart</a>
            </div>
          </div>

        </div>
      </div>

      <div class="jc-row-holiday jc-row-holiday-top w-row">
        <div class="jc-col-holiday jc-col-holiday-border-2 w-col w-col-6">

          <div class="jc-col-inner-holiday">
            <h4 class="jc-col-heading-holiday">2500mg Fresh Mint Tincture</h4>
            <h5 class="jc-col-sub-heading-holiday">Sale: 15% Off</h5>
            <img src="//cdn.shopify.com/s/files/1/0107/7431/5072/files/2500mg-tincture-mint-min-holiday.jpg" alt="2500mg Fresh Mint Tincture. Sale: 15% Off" class="jc-col-img-holiday">
            <p class="jc-col-bottom-text-holiday">Code: <span class="jc-col-bottom-text-holiday-alt">2500RR15</span></p>
            <div class="jc-holiday-btn-wrapper">
              <a href="https://rrmeds.com/cart/add?id=29122588999733&quantity=1" class="jc-holiday-btn w-button">Add to Cart</a>
            </div>
          </div>

        </div>
        <div class="jc-col-holiday w-col w-col-6">

          <div class="jc-col-inner-holiday">
            <h4 class="jc-col-heading-holiday">2500mg Unflavored Tincture</h4>
            <h5 class="jc-col-sub-heading-holiday">Sale: 15% Off</h5>
            <img src="//cdn.shopify.com/s/files/1/0107/7431/5072/files/2500mg-tincture-unflavored-min-holiday.jpg" alt="2500mg Unflavored Tincture. Sale: 15% Off" class="jc-col-img-holiday">
            <p class="jc-col-bottom-text-holiday">Code: <span class="jc-col-bottom-text-holiday-alt">2500RR15</span></p>
            <div class="jc-holiday-btn-wrapper">
              <a href="https://rrmeds.com/cart/add?id=37618147262662&quantity=1" class="jc-holiday-btn w-button">Add to Cart</a>
            </div>
          </div>

        </div>
      </div>

      <p class="jc-bottom-text-holiday">Order by December 17th to ensure your order arrives before Christmas (Domestic orders only).<br class="hide-mobile"> Coupons, discounts, rewards redemptions, and auto ship offers cannot be combined.<br class="hide-mobile"> Only one deal allowed per order.</p>

    </div>
  </div>
</div>
